.footer-note {
    background-color: #f6f6f6;
    color: #ededed;
    font-size: 13px;
    text-align: center;
    padding: 45px 0;

    p {
        max-width: 831px;
        width: 95%;
        margin: 0 auto;
        line-height: 2;
        color: #333333;
        font-family: 'semibold';
    }
}

.ref-hint {
    background-color: #fff;
    color: #333;
    font-size: 14px;
    text-align: left;

    p {
        max-width: 831px;
        width: 95%;
        margin: 0 auto;
        line-height: 2;
        color: #333333;
        font-family: 'regular';
    }

    i {
        /*  font-family: 'bold_italic'; */
    }

    strong {
        font-family: 'bold';
    }
}

footer {
    text-align: center;
    padding-top: 50px;
    font-family: 'semibold';
    position: relative;
}

.footer-slip {
    background: #0d73b2 url('../img/footer-bg.jpg')no-repeat right bottom/cover;
    height: 39px;
}

footer p {
    font-size: 13px;
    color: #787878;
    margin: 0;
}

.salix-logo {
    margin-bottom: 20px;
}

footer .copy {
    display: flex;
    max-width: 475px;
    margin: 10px auto 20px;
    justify-content: space-between;
}

.policys {
    font-family: 'semibold';
    position: absolute;
    right: 35px;
    bottom: 0px;
    text-align: right;
    font-size: 13px;
    color: #666666;

    .subfoo-link li {
        display: inline-block;
        margin: 0 0px 14px;
        border-right: 1px solid #666666;
        padding: 0 6px 0px 4px;

        &:last-child {
            border-right: 0px solid #666666;
        }
    }

    a {
        color: #666666;
        position: relative;
    }

    .foo-link-2 a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

@media all and (max-width:1600px) {}

@media all and (max-width:1440px) {}

@media all and (max-width:1336px) {}

@media all and (max-width:1280px) {}

@media all and (max-width:1200px) {
    .policys {
        position: relative;
        right: 0px;
        font-size: 12px;
        text-align: center;
        margin-top: 35px;
        margin-bottom: 20px;
    }
}

@media all and (max-width:1024px) {}

@media all and (max-width:990px) {}

@media all and (max-width:800px) {
    footer {
        padding-top: 40px;
    }
}

@media all and (max-width: 768px) {}

@media all and (max-width:640px) {}

@media all and (max-width: 576px) {
    footer {
        padding-top: 34px;
    }

    footer p {
        margin: 0 0px 8px;
        width: 100%;
    }

    footer .copy {
        flex-direction: column;
    }
}

@media all and (max-width:480px) {}

@media all and (max-width:480px) {}

@media all and (max-width:400px) {}

@media all and (max-width:375px) {}