@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto+Slab:100,200,300,400,500,600,700,800,900&display=swap");

/*
html,
body {
    overflow-x: hidden;
    overflow-y: auto;
} */
/*
font-family: 'Open Sans',sans-serif;
font-family: 'Roboto Slab',serif;
font-family: 'HelveticaNeueLTStd-MdCn';
*/
@font-face {
    font-family: "italic";
    src: url("../fonts/opensans-italic-webfont.woff2") format("woff2"),
        url("../fonts/opensans-italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "light";
    src: url("../fonts/opensans-light-webfont.woff2") format("woff2"),
        url("../fonts/opensans-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "light_italic";
    src: url("../fonts/opensans-lightitalic-webfont.woff2") format("woff2"),
        url("../fonts/opensans-lightitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "regular";
    src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
        url("../fonts/opensans-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "semibold";
    src: url("../fonts/opensans-semibold-webfont.woff2") format("woff2"),
        url("../fonts/opensans-semibold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "bold";
    src: url("../fonts/opensans-bold-webfont.woff2") format("woff2"),
        url("../fonts/opensans-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "bold_italic";
    src: url("../fonts/opensans-bolditalic-webfont.woff2") format("woff2"),
        url("../fonts/opensans-bolditalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "_condensedbold";
    src: url("../fonts/opensans-condbold-webfont.woff2") format("woff2"),
        url("../fonts/opensans-condbold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "condensed_light";
    src: url("../fonts/opensans-condlight-webfont.woff2") format("woff2"),
        url("../fonts/opensans-condlight-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CnLtIt";
    src: url("../fonts/opensans-condlightitalic-webfont.woff2") format("woff2"),
        url("../fonts/opensans-condlightitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "extrabold";
    src: url("../fonts/opensans-extrabold-webfont.woff2") format("woff2"),
        url("../fonts/opensans-extrabold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "extrabold_italic";
    src: url("../fonts/opensans-extrabolditalic-webfont.woff2") format("woff2"),
        url("../fonts/opensans-extrabolditalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeueLTStd-MdCn";
    src: url("../fonts/helveticaNeueLTStd-MdCn.eot");
    src: url("../fonts/helveticaNeueLTStd-MdCn.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/helveticaNeueLTStd-MdCn.svg#helveticaNeueLTStd-MdCn")
            format("svg"),
        url("../fonts/helveticaNeueLTStd-MdCn.ttf") format("truetype"),
        url("../fonts/helveticaNeueLTStd-MdCn.woff") format("woff"),
        url("../fonts/helveticaNeueLTStd-MdCn.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "_condensedbold";
    src: url("../fonts/opensans-condbold-webfont.woff2") format("woff2"),
        url("../fonts/opensans-condbold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "condensed_light";
    src: url("../fonts/opensans-condlight-webfont.woff2") format("woff2"),
        url("../fonts/opensans-condlight-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CnLtIt";
    src: url("../fonts/opensans-condlightitalic-webfont.woff2") format("woff2"),
        url("../fonts/opensans-condlightitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "extrabold";
    src: url("../fonts/opensans-extrabold-webfont.woff2") format("woff2"),
        url("../fonts/opensans-extrabold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "extrabold_italic";
    src: url("../fonts/opensans-extrabolditalic-webfont.woff2") format("woff2"),
        url("../fonts/opensans-extrabolditalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon/icomoon.eot");
    src: url("../fonts/icomoon/icomoon.eot?#iefix") format("embedded-opentype"),
        url("../fonts/icomoon/icomoon.woff") format("woff"),
        url("../fonts/icomoon/icomoon.ttf") format("truetype"),
        url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    width: 100%;
}

:root {
    --clr: #0d73b2;
    --clr-d: #19618f;
}

body {
    font-size: 16px;
    color: #222;
    font-family: "regular";
    margin: 0;
    padding: 0;
}

a {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input [type="submit"],
button {
    outline: none !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.clear {
    clear: both;
}

.mainContainer {
    position: relative;
}

.containerBig {
    width: 1630px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1300px;
    }
}

h3 {
    font-size: 30px;
    line-height: 40px;
    color: #035084;
    font-weight: 400;
    text-align: center;
    font-family: "regular";
    margin: 25px 0;
}

h3 span {
    font-family: "bold";
}

.clear {
    clear: both;
    width: 100%;
}

a {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #035084;
}

button,
.button {
    display: block;
    min-width: 170px;
    height: 47px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    color: #fff;
    border-radius: 50px;
    background: #0d73b2;
    border: 0;
    cursor: pointer;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    margin-top: 45px;
    max-width: 225px;
    width: 100%;
    text-decoration: none !important;

    &:hover {
        background: #035084;
        color: #fff;
        text-decoration: none !important;
    }

    &.line-blk {
        border: 2px solid #000;
        color: #000;
        background: transparent;
        font-family: "bold";

        &:hover {
            background: transparent;
            border: 2px solid #035084;
            color: #035084;
        }
    }

    &.line-white {
        border: 2px solid #fff;
        color: #fff;
        background: transparent;
        font-family: "regular";
        font-size: 24px;
        max-width: 318px;
        display: block;
        padding: 0 25px;

        strong {
            font-family: "bold";
        }

        &:hover {
            background: #fff;
            border: 2px solid #fff;
            color: #035084;
        }
    }

    &.m-width {
        min-width: 360px;
    }

    &.d-blu {
        background: #035084;

        &:hover {
            background: #0d73b2;

            color: #fff;
        }
    }

    strong {
        font-family: "bold";
    }
}

.blueBox--link.button {
    margin-top: 16px;
    display: inline-block;
}

a.plain-link {
    position: relative;
    color: #000;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

hr {
    width: 100%;
    height: 0;
    border-bottom: 5px solid #d9af45;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* =========================================== */
/* Banner band   start */
/* =========================================== */
.banner-container__main {
    position: relative;
}

.banner-container__main-in {
    /* min-height: 400px; */
    padding: 30px 15px;
    position: absolute;
    top: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.banner-container__top {
    background: #035084 url(../img/banner-topbar.jpg) no-repeat right
        center/cover;
    height: 94px;
    display: flex;
    align-items: center;

    &.plain-bg {
        background: #035084;
    }
}

.mainhead {
    font-family: "bold";
    font-weight: 800;
    font-size: 51px;
    position: relative;
    text-align: center;
    color: #005084;
    padding: 48px 0;
    margin-bottom: 00;
}

.banner-container__top .title {
    font-size: 42px;
    color: #fff;
    font-family: "bold";
    margin-bottom: 0;
}

.banner-container__top .title span {
    font-size: 16px;
    display: block;
    font-family: "regular";
    margin-top: 15px;
}

.h-banner-img {
    position: relative;
    display: flex;
    justify-content: end;
}

.banner-container__main .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.h-banner-cont {
    width: 100%;
    max-width: 545px;
    padding-left: 2px;
}

.banner-container__bottom {
    background-color: #d9af45;
}

.award__banner {
    display: flex;
    align-items: center;
}

.award__banner {
    padding: 4px 16px;

    img {
        margin-right: 15px;
    }

    p {
        font-family: "regular";
        font-size: 28px;
        color: #035084;
        margin-bottom: 0;

        strong {
            font-family: "bold";
        }
    }
}

.banner-container__main p {
    font-size: 20px;
    color: #015084;
    margin-bottom: 10px;
    line-height: 1.6;
}

.banner-container__main .title {
    font-size: 41px;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.6;
    text-align: center;
    font-family: "bold";
}

.banner-container__main button,
.banner-container__main .button {
    margin-top: 20px;
}

.img-full {
    img {
        width: 100%;
        object-fit: cover;
        object-position: 93%;
    }
}

.banner-list-point li {
    font-size: 28px;
    color: #015084;
    margin-bottom: 18px;
    line-height: 1.6;
    font-family: "extrabold";
    position: relative;
    padding-left: 24px;

    &:before {
        content: " ";
        width: 0;
        height: 0;
        padding: 5px;
        border-radius: 50%;
        background: #015084;
        position: absolute;
        top: 18px;
        left: 0px;
    }
}

/* =========================================== */
/* Banner band   Over */
/* =========================================== */
.section {
    padding: 70px 0;
}

.section-30 {
    padding: 30px 0;
}

.text-center {
    text-align: center;
}

/* =========================================== */
/* About  Start */
/* =========================================== */
.default-box {
    .large-box {
        max-width: 1050px;
        margin-left: auto;
        margin-right: auto;
    }

    .small-box {
        max-width: 855px;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 30px;
        color: #035084;
        font-family: "regular";
        line-height: 1.5;
    }

    h3 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 30px;
        color: #fff;
        font-family: "extrabold";
    }

    h4 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 30px;
        color: #035084;
        font-family: "bold";
    }

    p {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        line-height: 1.6;
        font-weight: 18px;
    }

    p.large-box {
        font-size: 24px;
        color: #333333;
    }

    p.small-box {
        font-size: 20px;
        color: #035084;
    }

    .button {
        margin-left: auto;
        margin-right: auto;
    }
    p.text {
        font-size: 22px;
        color: #fff;
    }
    h4.white-txt {
        color: #fff;
    }
}

.big {
    font-family: "bold";
    color: #035084;
    font-size: 24px;

    a {
        color: #035084;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.htBoxIn {
    background: #fff5dc;
    max-width: 555px;
    display: flex;
    padding: 35px 40px;
    align-items: center;
    position: relative;

    .htImg {
        width: 180px;
        position: relative;

        img {
            width: 100%;
        }
        a {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 50px;
            }
        }
    }

    .htCont {
        padding-left: 30px;
        flex: 1;

        .htCont__in {
            h2 {
                font-size: 28px;
                line-height: 1.5;
                color: #035084;
                font-family: "bold";
                margin-top: 15px;
            }

            a,
            p {
                font-size: 24px;
                line-height: 1.3;
                color: #035084;
                margin-bottom: 0;
                font-family: "semibold";

                span {
                    color: #ff00ff;
                }
            }

            a {
                font-family: "bold";
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.htBox {
    display: flex;
    justify-content: center;
    margin: 30px 0 0;

    .htBoxIn .htCont .htCont__in {
        h2 {
            font-size: 20px;
        }

        a,
        p {
            font-size: 18px;
            line-height: 1.5;
            color: #4b4b4b;
            font-family: "regular";
        }
    }
}

.htFiltHead.search-tool {
    img {
        width: 100%;
        height: 100%;
    }
}

.link {
    font-family: "bold";
    font-size: 26px;
    line-height: 1.8;
    color: #035084;
    text-decoration: underline;
    position: relative;
    transition: all 0.2s ease;

    &:hover {
        text-decoration: none;
        color: #035084;
    }
}

.sub-tag {
    font-family: "Open Sans", "regular", sans-serif;
    font-size: 32px;
    color: #005084 !important;
    padding: 30px 15px;
    margin-top: 30px;
    text-align: center;

    .link {
        font-size: 32px;
        font-family: "regular";
    }

    span {
        font-weight: 700;
    }

    .sub-tag span,
    .sub-tag strong {
        font-weight: 900;
    }
}

.blue_tag {
    background: #005084;
    font-family: "Roboto Slab", serif;
    font-size: 34px;
    font-weight: 400;
    color: #fff;
    padding: 30px 15px;
    text-align: center;

    a {
        color: #fff;
        text-decoration: underline;
    }

    &.trans-bg {
        background-color: transparent;
    }
}

/* =========================================== */
/* About  Over */
/* =========================================== */
.comm-txt {
    &.text-left {
        p {
            text-align: left;
        }
    }

    p {
        text-align: center;
        font-size: 28px;
        line-height: 1.8;
        color: #035084;
        font-weight: 400;
        text-align: center;
        font-family: "regular";
        margin: 0px 0 25px;

        strong {
            font-family: "bold";
        }

        &:last-child {
            margin: 0px 0 0px;
        }
    }
}

.dgrey-txt {
    &.text-left {
        p {
            text-align: left;
        }
    }

    p {
        text-align: center;
        font-size: 26px;
        line-height: 1.8;
        color: #222;
        font-weight: 400;
        text-align: center;
        font-family: "regular";
        margin: 0px 0 25px;

        strong {
            font-family: "bold";
        }
    }
}

.text-container {
    p,
    li {
        font-family: "Open Sans", "regular", sans-serif;
        font-weight: 400;
        color: #000;
        margin-bottom: 16px;
        font-size: 24px;
    }

    h4,
    .blk-title {
        font-family: "Open Sans", "regular", sans-serif;
        font-weight: 400;
        color: #000;
        margin-bottom: 16px;
        font-size: 28px;
    }

    h3 {
        text-align: left;
    }

    a.inline {
        color: #000;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    .title p {
        font-weight: 700;
        font-family: "Open Sans", "bold", sans-serif;
    }

    sup {
        font-size: 14px;
        top: -1.1em;
    }

    strong {
        color: #005084;
    }

    span {
        font-size: 25px;
    }

    .list-one {
        max-width: 94%;
        width: 100%;
        margin-bottom: 70px;
    }
}

.points-list {
    background: #fef8e6;
    padding: 25px 75px;

    ul li {
        padding: 25px 0;

        h4 {
            font-family: "bold";
            color: #035084;
        }

        a {
            font-family: "regular";
            font-size: 26px;
            line-height: 1.8;
            color: #035084;
            text-decoration: underline;
            position: relative;
            transition: all 0.2s ease;
            display: block;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &.bg-none {
        background: transparent;
        padding: 0px 75px;
        margin-bottom: 0px;

        ul li {
            padding: 10px 0;

            a {
                font-family: "semibold";
            }
        }
    }
}

.yellow-head {
    margin-top: 50px;
    background-color: #f8e9c3;
    padding: 10px 25px;

    h4 {
        font-family: "Roboto Slab", serif;
        font-weight: 700;
        font-size: 25px;
        color: #035084;
        margin-bottom: 0;
    }
}

.yellow-list {
    background-color: #fef8e6;
    /* f8e9c3 */
    padding: 25px 42px;
    margin-bottom: 25px;

    h4,
    a {
        font-family: "Roboto Slab", serif;
        font-weight: 700;
        font-size: 25px;
        color: #035084;
        margin-bottom: 0;
        display: block;
        margin-bottom: 25px;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    h4,
    a {
        padding: 0 50px;

        &:last-child {
            margin-bottom: 05px;
        }
    }

    h4 {
        padding: 0 0px;

        a {
            padding: 0 0px;
        }
    }

    .htBoxIn {
        background: transparent;
        max-width: 100%;
        padding: 0;

        .htImg {
            width: 250px;
        }

        .htCont {
            padding-left: 30px;
            flex: 1;

            .htCont__in {
                h2 {
                    font-size: 26px;
                    line-height: 1.5;
                    color: #000;
                    font-family: "bold";
                    margin-top: 15px;
                }

                a,
                p {
                    font-size: 26px;
                    color: #000;
                    font-family: "regular";
                }

                a {
                    color: #fff;
                    text-decoration: none;
                    line-height: 1.8;
                    font-weight: 400;
                }
            }
        }
    }
}

/*============= POPUP
================================ */
.leaving {
    max-width: 505px;
    width: 100%;
    margin: 0 auto 45px;
}

.leaving {
    max-width: 505px;
    width: 100%;
    margin: 0 auto 45px;
}

.guidePop h3,
.pop-title {
    font-size: 26px;
    color: #ffffff;
    text-align: center;
    font-family: "bold";
}

.guidePop h3 {
    font-family: "regular";
}

.pop-info {
    font-size: 26px;
    color: #ffffff;
    text-align: center;
    font-family: "regular";
    margin: 0 auto;
    width: 66%;
    line-height: 1.65;
}

.guidePop ul {
    margin: 0 auto 25px;
    max-width: 505px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "regular";
}

.full-sz ul {
    max-width: 100%;
    margin-top: 42px;
}

.guidePop ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
}

.guidePop ul li a {
    font-size: 26px;
    color: #ffffff;
    text-align: center;

    &:hover {
        text-decoration: none;
    }
}

.guidePop .check-box {
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
    margin: 60px 0 0;
}

.guidePop .check-box label {
    color: #fff;
}

.guidePop .check-box label:before {
    border: 1px solid #ffffff;
}

.guidePop .check-box input:checked + label:before {
    /* background: #ffffff;*/
    background: url(../img/right-white.png) no-repeat center center/contain;
}

.guidePop ul.product-link {
    justify-content: center;
}

/*============= POPUP OVER
================================ */
.ehr-box {
    text-align: center;
    padding: 0 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    h2 {
        font-size: 28px;
        line-height: 40px;
        color: #035084;
        font-family: "bold";

        span {
            display: block;
            font-family: "regular";
        }
    }

    .ehr-img {
        margin-top: 16px;
        height: ~"calc(100% - 200px)";

        img {
            max-width: 100%;
            height: 100%;
        }
    }
}

.ehr-container {
    button,
    .button {
        display: inline-block;
    }
}

.ehr-contact {
    h3 {
        margin-top: 50px;
        margin-bottom: 25px;
    }

    .button {
        margin-left: auto;
        margin-right: auto;
    }
}

/* ====================================\
plugin-form
====================================== */
.center-container {
    max-width: 1366px;
    width: 95%;
    margin: 0 auto 0px;

    p {
        font-size: 22px;
        color: #778288;
        font-family: "regular";

        a {
            color: #035084;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.model-title {
    font-family: "bold";
    font-size: 36px;
    color: #035084;
    margin-bottom: 20px;
}

.heading {
    font-family: "semibold";
    font-size: 25px;
    color: #778288;
}

.model-list {
    margin-bottom: 30px;

    li {
        display: flex;
        margin-bottom: 20px;
        font-size: 22px;
        color: #778288;

        span {
            width: 28px;
            flex: 0 0 28px;
        }
    }
}

p.form-title {
    font-family: "bold";
    font-size: 28px;
    color: #035084;
    margin-bottom: 20px;
    text-align: center;
    margin: 50px 0;
}

.form-validate {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;

    .noted {
        width: 100%;
        text-align: right;
        font-size: 16px;
        color: #4a4a4a;

        span {
            color: #f00;
        }
    }
}

.field-section,
.form-action {
    max-width: 550px;
    width: 100%;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 25px;
    width: 100%;
}

.form-group label,
.form-group p {
    font-size: 20px;
    color: #015084;
    margin-bottom: 0;
}

.form-group p {
    &:after {
        content: "*";
        position: absolutes;
        font-size: 16px;
        color: #ff0000;
    }
}

.form-section {
    margin-top: 30px;
}

.form-action {
    button {
        display: block;
    }
}

.form-section .form-control {
    height: 38px;
    word-wrap: break-word;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1rem;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #015084;
    border-radius: 0;
    -webkit-transition: border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
}

.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 21px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Open Sans", "regular", sans-serif;
    color: #015084;
    margin-bottom: 30px;

    .checkmark {
        position: absolute;
        top: 2px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: transparent;
        border: 1px solid #015084;
    }

    .checkmark:after {
        content: " ";
        position: absolute;
        display: none;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .checkmark:after {
        left: 8px;
        top: 2px;
        width: 7px;
        height: 15px;
        border: solid #0d73b2;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.radio-group {
    display: flex;
    justify-content: space-between;
}

.radio {
    margin: 0.5rem;
}

.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio input[type="radio"] + .radio-label:before {
    content: "";
    background: #fff;
    border-radius: 100%;
    border: 1px solid #015084;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: 0px;
    margin-right: 12px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.radio input[type="radio"]:checked + .radio-label:before {
    background-color: #015084;
    box-shadow: inset 0 0 0 4px #fff;
}

.radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #3197ee;
}

.radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #fff;
    border-color: #015084;
    background: #015084;
}

.radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
}

.radio-label {
    font-size: 21px;
    color: #015084;
}

/*===========================================================
 SLIDER SECTION
===========================================================*/
/* SLIDER SECTION */
.bend-yellow.banner-container__bottom {
    .award__banner p {
        color: #fff;
    }
}

.bend-lgt-yellow.banner-container__bottom {
    background-color: #feebb7;
    padding: 26px 0;
    margin-top: 24px;

    p {
        font-family: "Open Sans", "semibold", sans-serif;
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        color: #333132;
    }

    .button {
        margin: 32px auto 0;
    }
}

.bend-blue.banner-container__bottom {
    background-color: #004f83;

    .award__banner p {
        color: #fff;
    }
}

.slider_sec {
    background: #005084;
    height: 85vh;
}

.swiper-container {
    height: 100%;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #005084;
    overflow: hidden;
}

.swiper-slide.ylw-bg {
    background: #f4e7c7;
    overflow: hidden;
}

.slider-points {
    max-width: 1208px;
    width: 95%;
    text-align: center;
}
.super {
    position: relative;
}
.slider-points h5 {
    font-family: "Open Sans", "regular", sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    line-height: 1.5;
}

.swiper-slide.ylw-bg {
    .slider-points h5 {
        color: #005084;
    }
}

.left-txt h5 {
    text-align: left;
    margin-bottom: 55px;
}

.wht_colr {
    color: #ffffff;
}

.blue_colr {
    color: #005084;
}

.yel_colr {
    color: #f6d259;
}

.hep {
    position: relative;
}

.hep sup {
    position: absolute;
    right: -19px;
    top: 29px !important;
}

.slider-points .big-1 {
    font-family: "Roboto Slab", serif;
    font-weight: 800;
    font-size: 50px;
    position: relative;
}

.slider-points .big-2 {
    font-family: "Roboto Slab", serif;
    font-weight: 800;
    font-size: 62px;
    position: relative;
}

.slider-points .big-3 {
    font-family: "Roboto Slab", serif;
    font-weight: 800;
    font-size: 68px;
    position: relative;
}

.slider-points .big-4 {
    font-family: "Roboto Slab", serif;
    font-weight: 800;
    font-size: 81px;
    position: relative;
}

.slider-points .big-5 {
    font-family: "Roboto Slab", serif;
    font-weight: 800;
    font-size: 85px;
    position: relative;
}

.slider-points sup {
    font-weight: 300;
    font-size: 25px;
    right: -5px;
}

.slider-points span sup {
    position: absolute;
    right: -18px;
}

.slider-points .big-3 sup {
}

.slider-points.point-3 .big-5 sup {
}

.slider-points a {
    background: #fff;
    font-family: "Open Sans", "semibold", sans-serif;
    font-size: 35px;
    padding: 8px 40px;
    margin: 45px auto 0;
    display: block;
    width: max-content;
    font-weight: 600;
    color: #2b79ac;
    border-radius: 50px;
    text-decoration: none;
    transform: scale(1);

    &:hover {
        transform: scale(0.95);
    }
}

.slider-points a.blu-btn {
    background: #005084;
    color: #fff;
}

.slider-points p {
    font-family: "Open Sans", "regular", sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}

.ele {
    position: absolute;
    top: 52%;
    left: 31%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.img-01 {
    left: 31%;
}

.img-02 {
    left: 33%;
}

.img-03 {
    left: 36%;
}

.img-04 {
    left: 40%;
}

.img-05 {
    left: 50%;
    width: 100%;
    height: 100%;
    top: 50%;
}

.img-06 {
    left: 50%;
    width: 100%;
    height: 100%;
    top: 50%;
}

/*===========================================================
  SLIDER SECTION OVER
 ===========================================================*/
/*===========================================================
 REFERENCE SEC
===========================================================*/
.refrences_container {
    position: relative;
}

.refrences_sec {
    background: #d9af45;
    height: 60px;
    width: 100%;
    text-align: center;
    color: #fff;

    h5 {
        line-height: 60px;
        font-family: "Open Sans", "regular", sans-serif;
        font-weight: 400;
        font-size: 24px;
        position: relative;
        width: max-content;
        margin: 0 auto;
        cursor: pointer;
    }
}

.refrences_sec h5:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    display: block;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transform-origin: center center;
    top: 50%;
    right: -30px;
    transform: translate(-0%, -50%) rotate(45deg);
    transition: all 0.3s ease;
}

.refrences_sec h5.open:after {
    top: 60%;
    transform: translate(-0%, -50%) rotate(-135deg);
}

.slider {
    font-family: "Open Sans", "regular", sans-serif;
    font-weight: 400;
    font-size: 15px;
    overflow-y: hidden;
    line-height: 2.2;
    max-height: 0px;
    /* approximate max height */
    box-sizing: border-box;
    padding: 0px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    background: #fff;
    left: 0%;
    color: #222;
    z-index: 80;
    transform: translate(0%, 0%);
    width: 100%;
}

.slider a {
    color: #005084;
    transition: all 0.2s ease;
    text-decoration: underline;
}

.slider a:hover {
    color: #222;
    text-decoration: none;
}

.slider.inside-page-slider {
    position: relative;
}

.slider.open {
    max-height: 500px;
    padding: 35px 25px;
}

.main-title {
    .title {
        font-family: "Roboto Slab", serif;
        font-weight: 700;
        font-size: 41px;
        color: #005084;
        margin-bottom: 0;
    }
}

.blue-box {
    background: #005084;
    padding: 40px 40px 30px; /* changes for screen-patients */
    margin: 0 0 50px;
}

.box-content {
    width: 100%;
    max-width: 818px;
    margin: auto;

    h4,
    h6,
    li {
        font-family: "Roboto Slab", serif;
        font-weight: 700;
    }

    h4 {
        font-size: 37px;
        color: #f7d259;
        line-height: 1.8;

        span {
            font-weight: 400;
        }
    }

    h6,
    li {
        font-size: 28px;
        color: #ffffff;
        line-height: 1.4;
        position: relative;
        margin-bottom: 0px;

        .highlighter {
            font-size: 37px;
            color: #f7d259;
            font-weight: 700;
        }

        span {
            font-weight: 400;
        }
    }

    h6 {
        line-height: 1.7;
    }

    h6:last-child {
        margin-bottom: 40px !important;
    }

    li {
        padding-left: 20px;
        margin-bottom: 20px;
        display: block;
    }

    li:after {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        background: #ffffff;
        top: 19px;
        left: 0;
        border-radius: 50%;
    }

    li:first-child:after {
        top: 26px;
    }

    sup {
        font-size: 14px;
        top: -0.9em;
    }
    ul.top-list {
        margin-bottom: 36px;
    }
    ul.top-list li:first-child:after {
        top: 26px;
    }

    ul.second-list li:first-child:after {
        top: 19px;
    }
}

.blue-box .box-content h6 {
    line-height: 1.5;
    margin-bottom: 24px;
}
.blue-box .box-content .small-note {
    font-size: 18px;
    margin-bottom: 24px;
    color: #fff;
}

.list-one {
    font-family: "Open Sans", "regular", sans-serif;
    font-weight: 400;
    color: #000;
    margin-bottom: 15px;
    font-size: 24px;
    margin: 20px 0 20px 60px;

    li {
        position: relative;
        list-style-position: inside;
        margin: 5px 0;
        padding-left: 22px;
    }

    li:before {
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        background-color: #000;
        border-radius: 50%;
        top: 16px;
        left: 0;
    }
}

.list-two {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    color: #005084;
    margin-bottom: 15px;
    font-size: 26px;
    margin: 60px 0 60px 60px;

    li {
        list-style: disc;
        list-style-position: outside;
        margin: 40px 0 0px;

        a {
            text-decoration: underline;
            color: #005084;
        }
    }
}

/* MODEL BOX BLUE */
.modal-box,
.modal-box-wht {
    background: #005084;
    width: 100%;
    max-width: 1170px;
    padding: 80px;
    pointer-events: auto;

    .default-box h2,
    .default-box p,
    .default-box a,
    .form-box label,
    .ind-txt {
        color: #fff;
    }

    .default-box a:hover {
        color: #fff;
    }

    .form-field {
        background: #fff;
    }

    .form-box button,
    .form-box .button {
        margin: 0 auto;
        display: block;
        background: #fff;
        width: 300px;
        color: #0d73b2;
    }

    .form-box button:hover,
    .form-box .button:hover {
        background: rgba(255, 255, 255, 0.8);
    }
}

.modal-box-wht {
    background: #fff;
}

.model-close {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    z-index: 10;
}

.model-close:hover {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.new-contect-sec {
    margin-bottom: 48px;

    .top-sec {
        display: flex;

        .paly-ic {
            margin-right: 10px;
            width: 77px;

            img {
                width: 100%;
            }
        }

        a {
            color: #005084;
            font-size: 28px;
            font-family: "Open Sans", "bold", sans-serif;
            font-weight: 700;
            position: relative;
            text-decoration: underline;
            flex: 1;

            /*  &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background: #005084;
                left: 0;
                bottom: -4px;
            }
 */
            &:hover {
                text-decoration: none;
            }
        }
    }

    .info {
        color: #333333;
        font-size: 28px;
        font-family: "Open Sans", "regular", sans-serif;
        font-weight: 400;
        margin-top: 12px;
    }
}

.video-container {
    max-width: 990px;
    width: 98%;
    margin: 130px auto;

    img {
        width: 100%;
    }
}

/* PLUGIN CSS */
.htFilter {
    background: #035084;
    padding: 15px 0;
}

.htFilterRow {
    display: flex;
    margin-left: -18px;
    margin-right: -18px;
}

.htFiltHead {
    width: 20%;
    padding: 0 18px;
}

.htFiltHead .htFiltHdSpan {
    cursor: pointer;
}

.htFiltHead .htFiltHdSpan {
    cursor: pointer;
    width: 100%;
    height: 50px;
    background: #fff;
    display: block;
    text-align: center;
    line-height: 50px;
    position: relative;
    font-size: 16px;
    color: #035084;
}

.htFiltHead .htFiltHdSpan img {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -4px;
}

.htFiltHead .select2-container--default .select2-selection--single {
    background: #fff;
    border-bottom: 0;
}

.htFiltHead
    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    text-align: center;
}

.htFiltHead
    .select2-container--default
    .select2-selection--single
    .select2-selection__placeholder {
    color: #035084;
}

.htFiltHead
    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    background: url(../img/arrow.png) no-repeat center center;
}

.htFiltSearch {
    width: 100%;
    height: 50px;
    display: block;
    line-height: 50px;
    position: relative;
    font-size: 16px;
    color: #035084;
    background: #fff url(../img/search-clr.png) no-repeat calc(100% - 15px)
        center;
    outline: none;
    border: 0;
    padding: 0 15px;
    padding-right: 40px;
}

.htFiltSearch::-webkit-input-placeholder {
    text-align: center;
}

.htFiltSearch:-ms-input-placeholder {
    text-align: center;
}

.htFiltSearch::placeholder {
    text-align: center;
}

.htFiltHead.htFiltSearchBox {
    width: 40%;
    position: relative;
}

.htFiltSearchBox button {
    z-index: 99;
    position: absolute;
    top: 0;
    right: 18px;
    border-radius: 0;
    height: 100%;
    width: 40px;
    opacity: 0;
}

.filtInt {
    background: #fff;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    height: 170px;
}

.filtInt ul {
    max-width: 750px;
    margin: 50px auto;
}

.filtInt ul li {
    display: inline-block;
    width: 32%;
    text-align: left;
    vertical-align: top;
}

.filtBtns {
    text-align: center;
}

.filtBtns button,
.filtBtns .button {
    width: 205px;
    color: #0d73b2;
    background: #fff;
    display: block;
    margin: 37px auto 0;
}

.filtBtns button:hover,
.filtBtns .button:hover {
    opacity: 0.8;
}

.filtBtns a {
    font-size: 15px;
    color: #ffffff;
    text-decoration: underline;
    margin: 7px 0 12px;
    display: inline-block;
    vertical-align: middle;
}

.filtBtns a:hover {
    opacity: 0.8;
}

.filtResult {
    font-size: 15px;
    color: #ffffff;
    font-family: "bold";
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
}

.filtIntBox,
.htFiltBody {
    display: none;
}

.filtInt ul li .check-box label {
    font-size: 18px;
    color: #6d6e71;
}

/* Health Tool */
.htContainer {
    padding: 0px 0;
}

.htContainerIn {
    max-width: 1175px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    .htBox {
        width: 50%;
        float: left;
    }

    .htCont__in h2 {
        font-size: 20px;
    }

    .htCont__in p {
        font-size: 18px;
        color: #4b4b4b;
    }

    .button {
        font-size: 16px;
        height: auto;
        line-height: normal;
        padding: 8px 0;
        margin-top: 24px;
    }
}

ul.pagin {
    text-align: center;
    margin: 120px 0 0;
    clear: both;
}

ul.pagin li {
    font-size: 16px;
    color: #035084;
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    font-family: "bold";
    border-radius: 50%;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    cursor: pointer;
}

ul.pagin li:hover,
ul.pagin li.active {
    background: #0d73b2;
    color: #fff;
}

ul.pagin li.paginNP {
    background: #0d73b2;
    color: #fff;
    border-radius: 0;
    width: 82px;
}

ul.pagin li.paginNP:hover {
    background: #035084;
}

/* Cutomize page  */
.customize-pg .w50 {
    padding-right: 0px;
    padding-left: 0px;
    height: 100%;
}

.customize-sec,
.customize-img-sec {
    background-color: #fcf1cd;
    display: block;
    padding: 50px;
}

.customize-img-sec {
    background-color: #fcf1cd;
}

.customize-img-sec img {
    width: 100%;
}

.customize-sec {
    background-color: #035084;
}

.side-space {
    padding: 38px 50px 24px;
}

/* CUSTOMIZE TOOL CSS */
.customize-pg {
    padding: 150px 0 150px;
}

.customize-pg .row {
    padding: 15px;
}

.w50 {
    position: relative;
    width: 50%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.main-area {
    background-color: #fff;
    text-align: center;
}

.main-area hr {
    border-bottom: 2px solid #035084;
    margin-top: 0px;
    margin-bottom: 0px;
}

.main-area .check-box {
    text-align: left;
}

.main-area .check-box label {
    font-size: 17px;
    line-height: 1.5;
    color: #015084;
    cursor: pointer;
    padding-left: 35px;

    strong {
        font-family: "Open Sans", sans-serif;
        font-weight: 800;
    }
}

.check-box label:before {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.main-area .title {
    font-size: 21px;
    color: #015084;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}

.main-area .title img {
    width: 40px;
    margin-right: 10px;
}

.upload-sec,
.riview-sec {
    margin-top: 37px;
    position: relative;
}

.upload-sec label {
    float: right;
    color: #7b7b7b;
    font-size: 13px;
    font-weight: 500;
}

.file-upload-wrapper,
.file-copy-wrapper input {
    position: relative;
    width: 100%;
    height: 45px;
    border: 1px solid #015084;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    padding: 0 15px;
}

.file-upload-wrapper:after {
    content: attr(data-text);
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: 20px;
    line-height: 20px;
    color: #999;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
    text-align: left;
    color: #015084;
}

.file-upload-wrapper:before {
    content: "Choose File";
    position: absolute;
    top: 50%;
    right: 10px;
    display: inline-block;
    height: 30px;
    background: #015084;
    color: #fff;
    font-weight: 300;
    z-index: 25;
    font-size: 14px;
    line-height: 30px;
    padding: 0 15px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    pointer-events: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.file-upload-wrapper:hover:before {
    background: #015084;
}

.file-upload-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
}

.file-upload-wrapper {
    margin-bottom: 15px;
}

.center-width {
    width: 80%;
    margin: 0 auto !important;
}

.main-area .mr-top-01 {
    margin-top: 40px;
}

.form-box {
    margin-bottom: 53px;
}

.riview-sec label {
    float: center;
    color: #015084;
    font-size: 15px;
    font-weight: 500;
}

.riview-sec .copy-url {
    width: 102px;
    position: absolute;
    bottom: 8px;
    right: 10px;
    display: inline-block;
    height: 30px;
    background: #015084;
    color: #fff;
    font-weight: 300;
    z-index: 25;
    font-size: 14px;
    line-height: 30px;
    padding: 0 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.riview-sec .copy-url i {
    margin-right: 3px;
}

.side-space button {
    font-size: 16px;
}

.preview button {
    width: 100%;
}

.preview label {
    margin-top: 15px;
    margin-bottom: 35px;
    font-weight: 500;
}

.preview .icon-img {
    width: 32px;
    display: inline-block;
}

.preview label .icon-img img {
    width: 100%;
}

.back {
    font-size: 16px;
    color: #015084;
    text-decoration: underline;
    position: relative;
}

.back::before {
    content: "";
    width: 15px;
    height: 15px;
    border-left: 2px solid #015084;
    border-bottom: 2px solid #015084;
    position: absolute;
    top: 4px;
    left: -18px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.back:hover {
    font-size: 16px;
    color: #015084;
    text-decoration: none;
}

.main-area .check-box label,
.main-area .check-box {
    margin: 0;
}

/* My Favorites  CSS OVER*/
.refrences_sec.favorites {
    background-color: #fcf1cd;
    color: #015084;
    text-align: left;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.refrences_sec.favorites h5 {
    line-height: 60px;
    font-weight: 800;
    font-size: 20px;
    margin: 0;
    width: 100%;
}

.refrences_sec.favorites h5:after {
    right: 0;
    position: relative;
    display: inline-block;
    margin: 10px 10px 0;
    transform: translate(10px, 10px);
    transform: translate(-0%, -0%) rotate(45deg);
    top: 0;
    border-bottom: 2px solid #015084;
    border-right: 2px solid #015084;
}

.refrences_sec.favorites h5.open:after {
    top: 6px;
    transform: translate(-0%, -0%) rotate(-135deg);
}

.refrences_sec.favorites p {
    font-size: 18px;
    color: #4b4b4b;
    font-weight: 400;
    margin: 0 47px;
}

.refrences_sec.favorites li {
    color: #000;
}

.refrences_sec.favorites a {
    margin: 5px 0px;
    display: block;
    text-decoration: underline;
    color: #0d73b2;
}

.refrences_sec.favorites a:hover {
    text-decoration: none;
    color: #000;
}

.refrences_sec.favorites .icon-img {
    width: 40px;
    margin-right: 5px;
    display: inline-block;
}

.slider.favorites {
    background-color: #fcf1cd;
    box-shadow: none;
    position: relative;
    padding: 0px 120px;
}

.slider.favorites.open {
    max-height: 540px;
    padding: 12px 120px 30px;
}

.slider.favorites.open .container {
    padding: 0px 0 20px;
    max-height: 400px;
    overflow-y: auto;
}

.slider.favorites ol {
    width: 94%;
    margin: 0 auto;
    padding: 0 20px;
}

.slider.favorites li {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #015084;
    padding-right: 28px;
    margin-bottom: 18px;
    line-height: normal;
    position: relative;
}

.slider.favorites .delete {
    width: 17px;
    cursor: pointer;
    margin-right: -44px;
}

.small-note {
    font-size: 18px;
}

/* My Favorites  CSS OVER*/
/* Cutomize page Over  */

button#login {
    width: 205px;
}

.sp-container {
    padding: 75px 0;
}

.sp-txt {
    font-size: 30px;
    color: #035084;
    text-align: center;
}

.sp-txt a {
    font-family: "Open Sans", "bold", sans-serif;
    font-weight: 700;
    color: #035084;
    position: relative;
}

.sp-txt a:hover {
    color: #035084;
}

h3.sp-txt a:after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #035084;
}

.sp-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    position: relative;
}

.sp-box__in {
    width: 265px;
    height: 244px;
    text-align: center;
    background: #035084;
    position: relative;
    cursor: pointer;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}

.sp-box__in:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 13px;
    left: 0;
    top: 0;
    background: #f6d359;
}

.sp-box__in h2 {
    margin: 0;
    padding: 0 25px;
    color: #fff;
    text-align: left;
    position: absolute;
    width: 100%;
    top: 50%;
    background: url(../img/right-arrow.png) no-repeat calc(100% - 12px) center;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}

.sp-box__in h2 span {
    font-family: "Open Sans", "extrabold", sans-serif;
    font-weight: 800;
    display: block;
}

.sp-box__in p {
    font-size: 19px;
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    padding: 0 20px;
    margin: 0;
    opacity: 0;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    z-index: 9;
}

.sp-box__in__hover {
    background: #035084;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0%;
    height: 100%;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition-delay: 0.2s;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    overflow: hidden;
}

.sp-box__in:hover .sp-box__in__hover {
    width: 100%;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
}

.sp-box__in:hover p {
    opacity: 1;
    transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
}

.sp-box-img {
    width: 100%;
    position: relative;
    /* height: 600px; */
}

.sp-box-img img {
    width: 100%;
    /* height    : 100%; */
    /* object-fit: cover; */
}

.colour-box {
    background: #fef8e6;
}

.form-box label {
    font-size: 16px;
    color: #015084;
    font-family: "Open Sans", "semibold", sans-serif;
    font-weight: 600;
    font-family: "semibold";
}

.error-box .form-field {
    border: 1px solid red;
}

.error-box .select2-container--default .select2-selection--single {
    border: 1px solid red;
}

.error-box.form-box textarea {
    border: 1px solid red;
}

.error-box .error {
    /* opacity: 1; */
    display: inline-block;
}

.form-group label.error,
.error {
    font-size: 14px;
    color: red;
    font-family: "Open Sans", "bold", sans-serif;
    font-weight: 700;
    margin-top: 10px;
    /* opacity : 0; */
    display: none;
}

.form-field {
    border: 1px solid #015084;
    height: 50px;
    width: 100%;
    background: #fff;
    outline: none;
    padding: 0 15px;
    color: #035084;
    font-size: 16px;
    display: block;
}

.htFilterRow .form-field {
    text-align-last: center;
}

option {
    text-align: center;
    text-align-last: center;
    /* reset to left*/
}

.sortSel {
    text-align: center;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #035084;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #035084;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #035084;
}

.form-box textarea {
    border: 1px solid #015084;
    height: 240px;
    width: 100%;
    background: transparent;
    outline: none;
    padding: 15px;
    line-height: 1.5;
}

.req {
    position: relative;
}

.req:after {
    content: "*";
    color: red;
    left: 3px;
    position: relative;
    top: -7px;
    font-size: 12px;
}

.form-box button,
.form-box .button {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

.form-box.w-auto .button {
    max-width: max-content;
    padding: 0 30px;
}

.footer-slip {
    background: #035084 url("../img/footer-bg.jpg") no-repeat right bottom/cover;
    height: 39px;
}

.salix-logo {
    margin-bottom: 20px;
}

footer .copy .select2-container--default .select2-selection--single {
    height: 50px;
    width: 100%;
    background: transparent;
    border: 1px solid #015084;
    outline: none;
    padding: 0 15px;
    border-radius: 0;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 50px;
    padding: 0;
}

.select2-search--dropdown {
    padding: 0;
    height: 0;
    overflow: hidden;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 50px;
    width: 40px;
    background: url(../img/arrow.png) no-repeat center center;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow
    b {
    display: none;
}

.select2-dropdown {
    background-color: #fff;
    border: 1px solid #015084;
}

.select2-container--default
    .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: transparent;
    color: #015084;
}

.select2-results__option {
    color: #8ba6b7;
}

.select2-container--default .select2-results > .select2-results__options {
    padding: 15px;
    max-height: inherit;
}

h3 {
    font-size: 30px;
    line-height: 40px;
    color: #035084;
    font-weight: 400;
    text-align: center;
    font-family: "Open Sans", "regular", sans-serif;
    font-weight: 400;
    margin: 25px 0;

    strong {
        font-family: "Open Sans", "semibold", sans-serif;
        font-weight: 600;
    }
}

.clear {
    clear: both;
    width: 100%;
}

.check-box {
    position: relative;
    margin-bottom: 10px;

    input {
        position: absolute;
        width: 0;
        opacity: 0;
    }

    label {
        font-size: 14px;
        line-height: 22px;
        color: #015084;
        cursor: pointer;
        padding-left: 30px;
    }
}

label.req a {
    text-decoration: underline;
    color: #015084;
}

label.req a:hover {
    text-decoration: none;
    color: #015084;
}

.check-box input:checked + label:before {
    background: url("../img/right-blue.png") no-repeat center center/contain;
}

.check-box label:before {
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #015084;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 3px;
}

.ehr-box {
    text-align: center;
    padding: 0 10px;
}

.ehr-box button,
.ehr-box .button {
    margin: 35px auto 0;
}

/* .ehr-contact h3 {
    margin-bottom: 25px;
} */
.ehr-contact {
    text-align: center;
    /* margin-bottom: 110px; */
}

.ehr-contact .button {
    margin: 0 auto 40px;
}

.evidence-links ul li {
    font-size: 26px;
    color: #035084;
    margin: 30px 0;
    display: inline-block;
    vertical-align: middle;
}

.evidence-links ul li h2 {
    font-family: "Open Sans", "semibold", sans-serif;
    font-weight: 600;
    margin: 0;
}

.evidence-links ul li a {
    color: #035084;
    text-decoration: underline;
}

.evidence-links {
    background: #fef8e6;
    padding: 15px 50px;
    margin-top: 30px;
}

.guideline-links ul li {
    background: #fef8e6;
    padding: 25px 100px;
    margin-bottom: 33px;
}

.guideline-links ul li a {
    font-size: 26px;
    line-height: 1.8;
    color: #035084;
    text-decoration: underline;
    position: relative;
}

.guideline-links ul li a img {
    position: absolute;
    left: -50px;
    top: 2px;
}

.guideline-links {
    margin: 30px 0 0 0;
}

.forgot {
    text-align: center;
    margin: 10px 0;
}

.forgot a {
    font-size: 18px;
    color: #035084 !important;
    text-align: center;
    text-decoration: underline !important;
    cursor: pointer;
}

.forgot a:hover {
    color: #035084 !important;
}

.login-register {
    margin: 100px 0;
}

.change-password-box {
    margin: 50px 0;
}

.upload-logo__content {
    padding-left: 70px;
    padding-top: 30px;
}

.upload-logo {
    display: flex;
    margin: 20px 0;
}

.upload-logo__img-box {
    text-align: center;
}

.upload-logo__content h2 {
    font-size: 30px;
    color: #035084;
    font-family: "Open Sans", "bold", sans-serif;
    font-weight: 700;
}

.upload-logo__content p {
    font-size: 18px;
    color: #035084;
}

.upload-logo__content .edit-logo {
    font-size: 18px;
    color: #035084;
    text-align: center;
}

.upload-logo__img {
    width: 137px;
    height: 137px;
    border-radius: 137px;
    background-color: #cccccc;
    overflow: hidden;
}

.upload-logo__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-logo__img-box input {
    position: absolute;
    width: 0;
    overflow: hidden;
}

.upload-logo__img-box label {
    font-size: 18px;
    color: #035084;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.upload-logo__img-box label:hover {
    color: #007bff;
}

.upload-form-sec {
    border: 1px solid #015084;
    height: 50px;
    width: 100%;
    background: transparent;
    outline: none;
}

.upload-form-sec__1 {
    height: 50px;
    width: 100%;
    background: transparent;
    outline: none;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .file-upload-wrapper {
        border: 0px solid #015084;
        padding: 0 0px;
        border-radius: 0px;
        margin-bottom: 2px;
        margin-left: -15px;
        width: ~"calc(100% + 30px)";
        margin-right: -15px;
    }
}

.upload-form-sec__1 p {
    margin: 0;
}

.upload-form-sec__1 input {
    position: absolute;
    opacity: 0;
    width: 100%;
}

.upload-form-sec__1 label {
    width: 84px;
    height: 25px;
    background: #035084;
    font-size: 12px;
    color: #fefefe;
    margin: 0;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}

.upload-form-sec__1 label:hover {
    background: #035084;
}

.upload-form-sec__2 {
    display: none;
    position: relative;
}

.upload-form-sec__2__name {
    margin: 0;
    padding: 12px 15px;
}

.upload-form-sec__2__remove {
    position: absolute;
    right: 20px;
    top: 0;
    line-height: 50px;
    font-size: 12px;
    color: red;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    cursor: pointer;
}

.upload-form-sec__2__remove:hover {
    text-decoration: underline;
}

.pad {
    padding: 0 120px;
}

.two-line-res p {
    vertical-align: top;
    margin-left: 25px;
}

.two-line-res .blueBox--link {
    margin-top: 8px;
}

.two-line-res {
    display: flex;
}

.m-bottom {
    margin-bottom: 50px;
}

.logo-section {
    text-align: center;
    height: 80px;
    display: flex;
    align-items: end;
    justify-content: center;

    img {
        height: 100%;
        width: auto;
        object-fit: scale-down;
    }
}

.main-pg-logo-sec {
    margin: 66px 0 75px;

    .button {
        margin: 0 auto 35px;
        width: 100%;
        padding: 0 45px;
        white-space: nowrap;
        max-width: 330px;
    }

    p {
        font-family: "regular";
        font-size: 18px;
        color: #333132;
        text-align: center;
    }
}

.main-top-sec {
    padding: 0 15px;
    position: relative;

    &:after {
        content: " ";
        width: 0px;
        height: 100%;
        border-right: 1px solid #d9af45;
        top: 0;
        right: -15px;
        position: absolute;
    }

    &.bdr-none {
        &:after {
            border-right: 0px solid #d9af45;
        }
    }
}

.center-section {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 75px;
}

.ind-txt {
    position: relative;
    font-size: 14px;
    color: #4a4a4a;
    padding-left: 2px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 10px;

    span {
        position: relative;
        left: 0;
        top: -5px;
        color: red;
    }
}

.error-box .select2-container--default .select2-selection--single {
    border: 1px solid red;
}

.error-box.form-box textarea {
    border: 1px solid red;
}

.form-field {
    border: 1px solid #015084;
    height: 50px;
    width: 100%;
    background: transparent;
    outline: none;
    padding: 0 15px;
    color: #444;
    font-size: 16px;
}

.form-box textarea {
    border: 1px solid #015084;
    height: 240px;
    width: 100%;
    background: transparent;
    outline: none;
    padding: 15px;
    line-height: 1.5;
}

.select2-container--default .select2-selection--single {
    height: 50px;
    width: 100%;
    background: transparent;
    border: 1px solid #015084;
    outline: none;
    padding: 0 15px;
    border-radius: 0;
}

.select2-search--dropdown {
    padding: 0;
    height: 0;
    overflow: hidden;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 50px;
    width: 40px;
    background: url(../img/arrow.png) no-repeat center center;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow
    b {
    display: none;
}

.select2-dropdown {
    background-color: #fff;
    border: 1px solid #015084;
}

.select2-container--default
    .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: transparent;
    color: #015084;
}

.select2-results__option {
    color: #8ba6b7;
}

.select2-container--default .select2-results > .select2-results__options {
    padding: 15px;
    max-height: inherit;
}

.check-box {
    position: relative;
    margin-bottom: 10px;
}

.check-box input {
    position: absolute;
    width: 0;
    opacity: 0;
}

.check-box label {
    font-size: 14px;
    line-height: 22px;
    color: #015084;
    cursor: pointer;
    padding-left: 30px;
}

label.req a {
    text-decoration: underline;
}

.ehr-contact {
    text-align: center;
    /* margin-bottom: 110px; */
}

.sp-container {
    padding: 75px 0;
}

.sp-txt {
    font-size: 30px;
    color: #035084;
    text-align: center;
}

.sp-txt a {
    font-family: "bold";
    color: #035084;
    position: relative;
}

.sp-txt a:hover {
    color: #0d73b2;
}

h3.sp-txt a:after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #035084;
}

.sp-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    position: relative;
}

.sp-box__in {
    width: 265px;
    height: 244px;
    text-align: center;
    background: #0d73b2;
    position: relative;
    cursor: pointer;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}

.sp-box__in:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 13px;
    left: 0;
    top: 0;
    background: #f6d359;
}

.sp-box__in h2 {
    margin: 0;
    padding: 0 25px;
    color: #fff;
    text-align: left;
    position: absolute;
    width: 100%;
    top: 50%;
    background: url(../img/right-arrow.png) no-repeat calc(100% - 12px) center;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}

.sp-box__in h2 span {
    font-family: "extrabold";
    display: block;
}

.sp-box__in p {
    font-size: 19px;
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    padding: 0 20px;
    margin: 0;
    opacity: 0;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    z-index: 9;
}

.sp-box__in__hover {
    background: #035084;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0%;
    height: 100%;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition-delay: 0.2s;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    overflow: hidden;
}

.sp-box__in:hover .sp-box__in__hover {
    width: 100%;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
}

.sp-box__in:hover p {
    opacity: 1;
    transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
}

.sp-box-img {
    width: 100%;
    position: relative;
    /* height: 600px; */
}

.sp-box-img img {
    width: 100%;
    /* height: 100%; */
    /* object-fit: cover; */
}

.colour-box {
    background: #fef8e6;
}

/*
  .evidence-links ul li {
    font-size: 26px;
    color: #035084;
    margin: 30px 0;
    display: inline-block;
    vertical-align: middle;
  }

  .evidence-links ul li h2 {
    font-family: "bold";
    margin: 0;
  }

  .evidence-links ul li a {
    color: #035084;
    text-decoration: underline;
  }

  .evidence-links {
    background: #fef8e6;
    padding: 15px 50px;
    margin-top: 30px;
  } */
.guideline-links ul li {
    background: #fef8e6;
    padding: 25px 100px;
    margin-bottom: 33px;
}

.guideline-links ul li a {
    font-size: 26px;
    line-height: 1.8;
    color: #035084;
    text-decoration: underline;
    position: relative;
}

.guideline-links ul li a img {
    position: absolute;
    left: -50px;
    top: 2px;
}

.guideline-links {
    margin: 30px 0 0 0;
}

.menu {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 35px;
    height: 30px;
    top: 0;
    margin: 0 15px;
    display: none;
}

.menu span {
    height: 3px;
    width: 27px;
    background: #000;
    right: 0;
    top: 15px;
    border-radius: 30px;
    position: absolute;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}

.menu span:before {
    content: "";
    position: absolute;
    top: -10px;
    right: 0;
    background: #000;
    height: 3px;
    width: 34px;
    border-radius: 30px;
}

.menu span:after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    background: #000;
    height: 3px;
    width: 34px;
    border-radius: 30px;
}

.menu:hover span {
    width: 34px;
}

.h-banner-img-big {
}

.h-banner-img-big img {
    width: 100%;
}

.mobl {
    display: none;
}

.contact-msg {
    min-height: 172px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*text-align: center;*/
    margin: 150px 0;
}

#regModal .modal-box {
    padding: 45px 40px;
}

#regModal {
    font-size: 14px;
    line-height: 1.5;
    color: #feffff;
}

#regModal h2 {
    font-family: "bold";
    font-size: 14px;
    margin-bottom: 20px;
}

.srch__container {
    background: #fff;
    padding: 20px 5px;
    margin: 0 30px;
}

.srch__container__in {
    // width: 33.33333%;
    float: left;
    padding: 0 15px;
}

.srch__container__in h2 {
    font-family: "bold";
    font-size: 18px;
    color: #035084;
    margin-bottom: 20px;
}

.srch__container__in ul li {
    margin-bottom: 15px;
}

.srch__container__in ul li a {
    font-size: 16px;
    color: #035084;
    line-height: 1.5;
    display: block;
    text-transform: none;
}

.srch__container__in ul li a:hover {
    text-decoration: underline;
    color: #035084;
}

.srch-all {
    margin-top: 20px;
    text-align: center;
    padding: 0 20px;
}

.srch-all a {
    font-family: "bold";
    font-size: 16px;
    color: #035084;
    line-height: 1.5;
    display: block;
    text-transform: none;
}

.srch-all a:hover {
    text-decoration: underline;
    color: #035084;
}

.search-banner {
    height: auto;
    min-height: 94px;
    background-position-x: 90%;
}

.banner-container__top.search-banner h2 {
    max-width: 75%;
    margin: 20px 0 25px;
}

.search-container-up {
    margin: 70px 0;
}

.search-container {
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.search-container li {
    color: #6d6e71;
    line-height: 25.888px;
    font-size: 16px;
    margin-bottom: 35px;
}

.search-container li span {
    margin-bottom: 10px;
    display: block;
}

.search-container li a.search-main-link {
    font-size: 28px;
    color: #0d73b2;
    line-height: 1.3;
    display: block;
    margin-bottom: 10px;
}

.search-container li a.search-sub-link {
    color: #0d73b2;
    line-height: 25.888px;
    font-size: 16px;
    margin-bottom: 10px;
    word-break: break-all;
}

.srch__cont {
    display: inline-block;
    vertical-align: middle;
    max-height: 250px;
    overflow: auto;
    width: 100%;
}

.search-container li a.search-sub-link:hover {
    text-decoration: underline;
}

/*
  .alert button {
    width: auto;
    height: auto;
  }

  .alert button:hover {
    background: transparent;
  }

  .alert p {
    margin-bottom: 0;
    margin-right: 35px !important;
  }

  .alert {
    right: 20px !important;
    top: 20px !important;

  }
  */
.alert {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

// .pagination {
//     text-align: center;
//     display: block;
// }

.page-item {
    display: inline-block;
    position: relative;
    margin: 0 5px;
}

.page-link {
    font-size: 16px;
    color: #035084;
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    font-family: "bold";
    border-radius: 50%;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    cursor: pointer;
    padding: 0;
    border: 0;
    margin: 0;
}

.page-item.active .page-link {
    background-color: #0d73b2;
}

.pagination .page-item:first-of-type .page-link,
.pagination .page-item:last-of-type .page-link {
    background: transparent;
    color: #fff;
    border-radius: 0;
    width: 82px;
    color: #fff;
    font-size: 0;
    z-index: 999;
}

.pagination .page-item:first-of-type:after,
.pagination .page-item:last-of-type:after {
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    line-height: 30px;
    font-family: "bold";
    background: #0d73b2;
}

.pagination .page-item:first-of-type:after {
    content: "Prev";
}

.pagination .page-item:last-of-type:after {
    content: "Next";
}

/*by sanat starts here*/
.disclaimer {
    background-color: rgba(225, 225, 225, 0.31);
    padding: 40px 20px;
}

.disclaimer p {
    line-height: 1.5;
    text-align: center;
    font-size: 13px;
    margin-bottom: 5px;
    color: #787878;
}

/*hardik luhar start*/
.privacy-box {
    position: absolute;
    bottom: 60px;
    text-align: right;
    right: 20px;
}

.privacy-box li a:hover {
    color: #0d73b2;
}

.privacy-box li,
.privacy-box li a {
    font-size: 14px;
    color: #787878;
    margin: 0;
}

.privacy-boc__br {
    display: none;
}

.privacy-box li:first-of-type {
    margin-bottom: 10px;
}

/*hardik luhar end*/
/*.privacy-policy{
   color: #787878;
   position: relative;
   top: -40px;
   float: right;
   -webkit-transition: 0.2s all ease-in-out;
   -o-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
  }*/
/*.privacy-policy:hover{ color:#0d73b2 ; }*/
/*by sanat ends here*/
/* Added 24 April */
.select2-container--default .select2-selection--single {
    padding: 0 25px 0 15px;
}

.htFiltHead.htFiltSearchBox {
    width: 30%;
}

/*
.htFiltHead {
    width: 22%;
} */
/* .htFiltSortBox {
    width: 25%;
  }
   */
.htFilterRow {
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.htFiltHead {
    padding: 0 8px;
}

.about-box {
    overflow: hidden;
}

.about-box .container {
    position: relative;
}

.abt-award {
    position: absolute;
    left: 0;
    top: -50px;
}

/* Search Plugin */

.sb-search {
    position: relative;
    width: 0%;
    min-width: 50px;
    height: 50px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
}

.sb-search-input {
    position: absolute;
    top: 0;
    right: 50px;
    border: none;
    outline: none;
    background: #fff;
    width: 100%;
    height: 50px;
    margin: 0;
    z-index: 10;
    padding: 20px 0px 20px 70px;
    font-family: inherit;
    font-size: 16px;
    color: #2c3e50;
}

.sb-search-input::-webkit-input-placeholder {
    color: #035084;
}

.sb-search-input:-moz-placeholder {
    color: #035084;
}

.sb-search-input::-moz-placeholder {
    color: #035084;
}

.sb-search-input:-ms-input-placeholder {
    color: #035084;
}

.sb-icon-search,
.sb-search-submit {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: transparent;
    /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    color: #fff;
    background: transparent;
    z-index: 90;
    font-size: 22px;
    font-family: "icomoon";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
    content: "\e000";
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
    width: 100%;
    max-width: 300px;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background: transparent;
    color: #fff;
    z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
    z-index: 90;
}

.select2-container {
    width: 100% !important;
}

// for pagination
.pagination {
    margin-top: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-item {
    display: inline-block;
    position: relative;
    margin: 0 12px;
}

.pagination .page-item:first-of-type .page-link,
.pagination .page-item:last-of-type .page-link {
    background: transparent;
    color: #fff;
    border-radius: 0;
    width: 82px;
    color: #fff;
    font-size: 0;
    z-index: 999;
}

.pagination span {
    font-size: 16px;
    color: #035084;
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    font-family: "Open Sans", "semibold", sans-serif;
    font-weight: 600;
    border-radius: 50%;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    cursor: pointer;
    padding: 0;
    border: 0;
    margin: 0;
}

.pagination .page-item:first-of-type:after {
    content: "Prev";
}

.pagination .page-item:first-of-type:after,
.pagination .page-item:last-of-type:after {
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    line-height: 30px;
    font-family: "Open Sans", "regular", sans-serif;
    font-weight: 600;
    background: #035084;
}

.page-item.active .page-link {
    background-color: #035084;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    pointer-events: none;
    cursor: auto;
    border-color: #dee2e6;
}

.pagination .page-item:last-of-type:after {
    content: "Next";
}

.page-item .page-link {
    font-size: 16px;
    color: #035084;
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    font-family: "Open Sans", "semibold", sans-serif;
    font-weight: 600;
    border-radius: 50%;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    cursor: pointer;
    padding: 0;
    border: 0;
    margin: 0;
}

// loader starts
.wait-pop {
    background: #015084;
    padding: 24px;
    position: absolute;
    z-index: 555555;
    border-radius: 20px;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h4 {
        color: #015084;
        font-size: 18px;
        padding: 8px 16px;
        border-radius: 50px;
        background: white;
        width: max-content;
    }

    p {
        color: white;
        font-weight: 700;
    }
}

.box-content h6.space-2 {
    margin-bottom: 6px;
}

.paginationBtn {
    width: 82px;
    height: 32px;
    display: block;
    position: relative;
    z-index: 1001;
}
.shareBtn a {
    color: #fff;
}
