/*
 font-family: 'italic';
 font-family: 'light';
 font-family: 'regular';
  font-family: 'semibold';
font-family: 'bold';
  font-family: '_condensedbold';
*/
header {
    position: sticky;
    top: -40px;
    z-index: 999;
    background: #fff;
}

.small-header {
    background: #003365;
}

.small-header ul {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    align-items: center;
}

.small-header ul li {
    border-left: 1px solid #a3c0d2;
    height: 40px;
    line-height: 37px;
    padding: 0 40px;
    white-space: nowrap;
}

ul.topmenu li:first-of-type {
    border-left: 0;
    padding: 0 10px;
    /*
    padding-left: 0; */
}

.small-header ul li a {
    font-size: 14px;
    color: #fff;

    &:hover {
        text-decoration: none;
    }
}

.small-header ul li a strong {
    font-family: "bold";
}

.small-header ul li a:hover {
    opacity: 0.7;
}

/* .small-header .topmenu {
    margin: 0 auto;
  }
   */
.small-header .topmenu li {
    border-right: 0px solid #a3c0d2;
    border-left: 0px solid #a3c0d2;
    height: 40px;
    line-height: 37px;
    padding: 0 10px;
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
}

.small-header .topmenu li:hover,
.small-header .topmenu li.active {
    background: #fff;
}

.small-header .topmenu li:last-child:hover {
    background: transparent;
}

.small-header .topmenu li:hover a,
.small-header .topmenu li.active a {
    color: #015084;
}

.top-container {
    display: flex;
    max-width: 1400px;
    justify-content: space-between;
    margin: 0 auto;
    width: 96%;
}

/* Menu */
.menu-icon {
    position: relative;
    cursor: pointer;
    display: none;
    width: 35px;
    height: 28px;
    top: 0;
    margin: 0;
}

.menu-icon span {
    background: #035084;
    right: 0;
    top: 12px;
    position: absolute;
    width: 100%;
    height: 4px;
}

.menu-icon span:before {
    content: "";
    top: -11px;
    background: #035084;
    right: 0;
    position: absolute;
    width: 100%;
    height: 4px;
}

.menu-icon span:after {
    content: "";
    top: 11px;
    background: #035084;
    right: 0;
    position: absolute;
    width: 100%;
    height: 4px;
}

.mob-menu {
    display: flex;
    width: 100%;
    height: 100%;
}

.mob-menu-up,
.mob-menu-box {
    display: none;
}

.mob-srchBtn {
    margin-right: 25px;
}

.mob-menu-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0d73b2;
    z-index: 999;
}

.mob-close-box {
    background: #035084;
    text-align: center;
    padding: 35px 0;
    width: 100px;
}

.mob-close-box span {
    color: #ffffff;
    font-size: 28px;
    line-height: 1;
    display: inline-block;
}

/* // Menu */
.main-header__in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
}

.logo {
    width: 240px;
}

.logolh {
    width: 330px;
}

.logo,
.logolh {
    a,
    a img {
        display: block;
        width: 100%;
    }
}

.main-header ul {
    vertical-align: middle;
    text-align: center;
    display: flex;
    align-items: flex-start;
}

.main-header ul li {
    float: left;
    margin: 0 12px;
}

.main-header ul li:last-of-type {
    margin-right: 0;
}

.main-header ul li a {
    font-size: 16px;
    color: #0d73b2;
    font-family: "semibold";
    transition: all 0.02s ease;
}

.main-header ul li a:hover,
.main-header ul li a.active {
    /*  font-family: 'bold'; */
    color: #035084;
    padding: 0 0px;
    /* color: #e5b046; */
    text-decoration: none;
}

.fixHeader .main-header {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);

    ul li:nth-of-type(4) {
        margin-right: 12px;
    }
}

.fixHeader .main-header.index-menu-bar {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
    margin-top: 00px;
    padding-top: 10px;
    padding-bottom: 10px;

    ul li:nth-of-type(4) {
        margin-right: 12px;
    }
}

.fxHdr {
    display: none;
}

.fixHeader .fxHdr {
    display: block;
}

.fixHeader .main-header ul li {
    margin: 0 12px;
}

.fixHeader .navigation li:last-child {
    margin-right: 0;
}

.fixHeader .main-header ul li a {
    font-size: 14px;
    line-height: 1;
}

.main-header ul li:last-child {
    margin-right: 0;
}

.fxHdr1 {
    border-left: 1px solid #ccc;
    padding-left: 14px;
    margin-left: 0px !important;
}

.searchContainer {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 114, 179, 0.5);
    display: none;
}

.srchBox {
    height: 40px;
    background: rgba(15, 114, 179, 1);
}

.srch {
    position: relative;
}

.srch input {
    width: 100%;
    height: 40px;
    border: 0;
    outline: none;
    color: #fff;
    padding-left: 40px;
    padding-right: 30px;
    background: url(../img/search.png) no-repeat 0px center;
}

.srch .srchClose {
    position: absolute;
    top: 12px;
    right: 0;
    background: url(../img/close-white.png) no-repeat center center/contain;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.srch input::-webkit-input-placeholder {
    color: #fff;
}

.srch input:-ms-input-placeholder {
    color: #fff;
}

.srch input::placeholder {
    color: #fff;
}

.srchBtn {
    cursor: pointer;
    /* width: 30px; */
    /* height: 30px; */
    display: inline-block;
    vertical-align: middle;
}

.index-menu-bar {
    display: none;
}

@media all and (max-width: 1600px) {
}

@media all and (max-width: 1440px) {
}

@media all and (max-width: 1366px) {
    .small-header ul li {
        padding: 0 26px;
    }
}

@media all and (max-width: 1280px) {
    .small-header .topmenu li {
        padding: 0px 5px;
    }

    ul.topmenu li:first-of-type {
        padding: 0 5px;
    }

    .small-header ul li {
        padding: 0 24px;
    }

    .main-header ul li {
        margin: 0 10px;
    }

    .main-header ul li a {
        font-size: 14px;
    }

    .logo {
        width: 230px;
    }

    .main-header__in {
        height: 115px;
    }
}

@media all and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    header {
        top: -80px;
    }

    .top-container {
        flex-wrap: wrap;
        flex-direction: column-reverse;

        ul {
            width: 100%;
            height: auto;

            &:first-child {
                justify-content: flex-start;
            }
        }
    }

    .fixHeader .main-header ul li:nth-of-type(4) {
        margin-right: 10px;
    }

    .fixHeader .main-header ul li {
        margin: 0 10px;
    }

    .fxHdr1 {
        padding-left: 10px;
        margin-left: 0 !important;
    }

    .logo {
        width: 220px;
    }
}

@media all and (max-width: 1024px) {
}

@media all and (max-width: 990px) {
    .logo {
        width: 190px;
    }

    .logolh {
        width: 265px;
    }

    .menu-icon {
        display: block;
    }

    .main-header ul.navigation,
    .small-header ul {
        display: none;
    }

    .small-header ul.topmenu {
        display: flex;
    }

    .index-menu-bar {
        display: block;
        margin-top: 20px;

        .main-header__in {
            height: 45px;
        }

        .main-header__in {
            justify-content: end;
        }
    }

    .mob-menu-box {
        display: flex;
        align-items: center;

        img {
            width: 100%;
        }

        .mob-srchBtn,
        .menu-icon {
            width: 28px;
        }
    }

    .srchBox {
        height: 50px;
    }

    .srch input {
        height: 50px;
    }

    .srch .srchClose {
        top: 14px;
        width: 20px;
        height: 20px;
    }

    header {
        top: -40px;
        /* padding: 0 20px; */
    }

    .main-header__in {
        height: 85px;
    }

    ul.navigation {
        padding: 60px 30px;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    ul.navigation li {
        margin: 0;
        padding-bottom: 20px;
    }
    ul.navigation li p,
    ul.navigation li a {
        color: #ffffff;
        font-size: 36px;
    }
    ul.navigation li p {
        font-size: 16px;
    }
}

@media all and (max-width: 950px) {
    .small-header ul.topmenu li:last-child {
        display: none;
    }
}

@media all and (max-width: 800px) {
}

@media all and (max-width: 768px) {
}

@media all and (max-width: 640px) {
    .logo {
        width: 160px;
    }

    .small-header .topmenu {
        flex-wrap: wrap;
    }

    .small-header .topmenu li {
        padding: 0 8px;
    }

    .small-header ul li a {
        font-size: 12px;
        color: #fff;
    }

    .mob-menu-box .mob-srchBtn,
    .mob-menu-box .menu-icon {
        width: 24px;
    }

    .main-header__in {
        height: 75px;
    }

    ul.navigation li a {
        font-size: 20px;
    }

    ul.navigation {
        padding: 30px 20px;
        width: 100%;
    }

    ul.navigation li {
        margin: 0;
        padding-bottom: 15px;
    }
}

@media all and (max-width: 576px) {
    .small-header .topmenu li {
        width: 50%;
        text-align: center;
    }

    header {
        top: -80px;
        /* padding: 0 20px; */
    }

    .small-header .topmenu li:nth-child(3) {
        border-left: 0 solid #a3c0d2;
    }
}

@media all and (max-width: 480px) {
}

@media all and (max-width: 480px) {
}

@media all and (max-width: 400px) {
    .logolh {
        width: 226px;
    }
}

@media all and (max-width: 360px) {
    .logolh {
        width: 226px;
    }

    .default-box .large-box span,
    .blue_tag.trans-bg {
        word-break: break-word;
    }
}
