@media all and (max-width: 1600px) {
}

@media screen and (max-width: 1550px) {
    .slider-points .big-3 {
        font-size: 63px;
    }

    .slider-points .big-4 {
        font-size: 75px;
    }

    .slider-points .big-5 {
        font-size: 82px;
    }
}

@media all and (max-width: 1440px) {
    .banner-container__top {
        height: 84px;
    }

    .main-title .title,
    .banner-container__main .title,
    .banner-container__top .title {
        font-size: 38px;
    }

    .model-title {
        font-size: 32px;
    }

    .default-box h3,
    .upload-logo__content h2,
    .default-box h2,
    .award__banner p,
    .banner-list-point li,
    .comm-txt p {
        font-size: 26px;
    }

    .ehr-contact h3 {
        font-size: 28px;
    }

    .ehr-box h2 {
        font-size: 25px;
    }

    .yellow-head h4,
    .new-contect-sec .top-sec a,
    .new-contect-sec .info,
    .guidePop ul li a,
    .dgrey-txt p,
    .yellow-list .htBoxIn .htCont .htCont__in h2,
    .yellow-list .htBoxIn .htCont .htCont__in a,
    .yellow-list .htBoxIn .htCont .htCont__in p,
    .guidePop h3,
    .pop-title,
    .pop-info,
    p.form-title,
    .link,
    .points-list ul li h4,
    .points-list ul li a {
        font-size: 24px;
    }

    .points-list.bg-none {
        padding: 0 65px;
    }

    .points-list {
        padding: 20px 65px;
    }

    .points-list ul li {
        padding: 20px 0;
    }

    .ehr-contact {
        h3 {
            margin-top: 35px;
            margin-bottom: 20px;
        }
    }

    .container-checkbox,
    .radio-label,
    .model-list li,
    .center-container p {
        font-size: 20px;
    }

    .form-group label,
    .form-group p {
        font-size: 18px;
    }

    .radio input[type="radio"] + .radio-label:before {
        width: 22px;
        height: 22px;
        margin-right: 8px;
        top: 3px;
    }

    .form-validate .noted {
        font-size: 14px;
    }

    .mainhead {
        font-size: 48px;
        padding: 48px 0;
    }

    .list-one li,
    .default-box p.large-box,
    button.line-white,
    .button.line-white,
    .text-container p,
    .text-container li,
    .big,
    .htBoxIn .htCont .htCont__in a,
    .htBoxIn .htCont .htCont__in p,
    .bend-lgt-yellow.banner-container__bottom p {
        font-size: 22px;
    }

    button.line-white,
    .button.line-white {
        margin-top: 35px;
    }

    .yellow-list a {
        font-size: 23px;
        padding: 0 34px;
    }

    .new-contect-sec .top-sec .paly-ic {
        width: 56px;
    }

    .text-container .blk-title {
        font-size: 25px;
    }

    .slider-points h5 {
        font-size: 36px;
    }

    .slider-points .big-1 {
        font-size: 45px;
    }

    .slider-points .big-2 {
        font-size: 56px;
    }

    .slider-points .big-3 {
        font-size: 61px;
    }

    .slider-points .big-4 {
        font-size: 73px;
    }

    .slider-points .big-5 {
        font-size: 78px;
    }

    .slider-points {
        text-align: center;
    }

    .pop-info {
        width: 69%;
    }

    .side-space {
        padding: 24.5px 24px;
    }

    .main-area .check-box label {
        font-size: 16px;
    }

    .main-area .title {
        font-size: 20px;
    }

    .center-width {
        width: 94%;
    }

    .upload-sec,
    .riview-sec {
        margin-top: 22px;
    }

    .file-upload-wrapper:after {
        font-size: 14px;
        height: 20px;
        line-height: 20px;
    }

    .file-copy-wrapper input {
        font-size: 14px;
    }

    .main-area .mr-top-01 {
        margin-top: 25px;
    }

    .side-space .form-box {
        margin-bottom: 25px;
    }

    .slider-points a {
        font-size: 30px;
        padding: 6px 35px;
        margin: 40px auto 0;
    }
}

@media all and (max-width: 1336px) {
    .mainhead {
        font-size: 42px;
    }

    .htBox .htBoxIn .htCont .htCont__in h2 {
        font-size: 18px;
        margin-top: 0px;
    }

    .htBox .htBoxIn .htCont .htCont__in a,
    .htBox .htBoxIn .htCont .htCont__in p {
        font-size: 16px;
    }
}

@media all and (max-width: 1280px) {
    .privacy-boc__br {
        display: block;
    }

    .logo-section {
        height: 55px;
    }

    .main-pg-logo-sec {
        margin: 56px 0 65px;
    }

    .sub-tag .link,
    .sub-tag,
    .blue_tag {
        font-size: 30px;
        line-height: 1.5;
    }
}

@media all and (max-width: 1200px) {
    h3 {
        font-size: 24px;
        /*  line-height: 34px; */
    }

    .text-container .blk-title {
        font-size: 22px;
    }

    .main-title .title,
    .banner-container__main .title,
    .banner-container__top .title {
        font-size: 36px;
    }

    .ehr-contact h3 {
        font-size: 24px;
    }

    .modal-box,
    .modal-box-wht {
        width: 95%;
        padding: 50px;
    }

    .mainhead {
        font-size: 38px;
    }

    .logo-section img {
        height: 100%;
        width: 100%;
        object-fit: scale-down;
    }

    .logo-section {
        height: 55px;
        width: 80%;
        margin: auto;
    }

    .main-pg-logo-sec p {
        font-size: 16px;
    }

    .center-section {
        padding: 0 30px;
    }

    .default-box p.small-box,
    .banner-container__main p {
        font-size: 18px;
    }

    .htFiltSortBox .select2-container {
        font-size: 13px;
    }

    .htFiltSearch {
        font-size: 14px;
    }

    .upload-logo {
        margin: 0;
    }

    .banner-container__main.alt-banner .h-banner-cont {
        max-width: 505px;
    }

    .video-container {
        margin: 100px auto;
    }

    .h-banner-img {
        min-height: 345px;
    }

    .slider-points h5 {
        font-size: 33px;
    }

    .slider-points .big-1 {
        font-size: 41px;
    }

    .slider-points .big-2 {
        font-size: 50px;
    }

    .slider-points .big-3 {
        font-size: 55px;
    }

    .slider-points .big-4 {
        font-size: 66px;
    }

    .slider-points .big-5 {
        font-size: 68px;
    }

    .pop-info {
        width: 72%;
    }

    .customize-sec,
    .customize-img-sec {
        padding: 23px;
    }

    .main-area .title img {
        width: 34px;
        margin-right: 4px;
    }

    .side-space button {
        font-size: 15px;
        height: 43px;
        line-height: 43px;
    }

    .upload-sec,
    .riview-sec {
        margin-top: 14px;
    }

    .file-upload-wrapper:after {
        padding: 10px 10px;
    }

    .file-upload-wrapper,
    .file-copy-wrapper input {
        padding: 0px 10px;
    }

    .riview-sec .copy-url {
        min-width: 170px;
    }

    .side-space {
        padding: 17.5px 24px;
    }

    .upload-sec,
    .riview-sec {
        margin-top: 8px;
    }

    .side-space .form-box {
        margin-bottom: 15px;
    }

    .preview label {
        margin-bottom: 25px;
    }

    .htBoxIn {
        width: 460px;
        height: auto;
        padding: 23px 30px;
    }

    .htContainerIn .htBoxIn {
        width: ~"calc(100% - 30px)";
        height: 100%;
        padding: 23px 30px;
    }

    .htBox {
        margin-bottom: 40px;
    }

    .htCont {
        width: ~"calc(100% - 140px)";
    }

    .htContainerIn {
        max-width: 960px;

        .htBox {
            margin-bottom: 0px;
        }
    }

    ul.pagin {
        margin: 50px 0 0px;
    }

    .h-banner-cont {
        max-width: 455px;
    }
}

@media screen and (max-width: 1100px) {
    .slider-points h5 {
        font-size: 29px;
    }

    .slider-points .big-1 {
        font-size: 37px;
    }

    .slider-points .big-2 {
        font-size: 46px;
    }

    .slider-points .big-3 {
        font-size: 51px;
    }

    .slider-points .big-4 {
        font-size: 62px;
    }

    .slider-points .big-5 {
        font-size: 64px;
    }

    .slider-points a {
        font-size: 26px;
        padding: 6px 35px;
        margin: 40px auto 0;
    }

    .slider-points p {
        font-size: 15px;
    }
    .main-header ul li {
        margin: 0 5px;
    }

    .fixHeader .main-header ul li {
        padding: 0 8px;
    }

    .main_section .blue_tag {
        font-size: 30px;
    }

    .main_section .sub-tag {
        font-size: 30px;
    }

    /* CUSTOMIZE TOOL CSS */
    .customize-pg {
        padding: 100px 0;
    }

    .customize-sec,
    .customize-img-sec {
        padding: 40px;
    }

    .side-space {
        padding: 20px 20px 20px;
    }

    .upload-sec,
    .riview-sec {
        margin-top: 30px;
    }

    .main-area .mr-top-01 {
        margin-top: 27px;
    }
    .main-area .check-box label,
    .main-area .check-box {
        margin-bottom: 0;
    }

    .main-area .form-box {
        margin-bottom: 34px;
    }
}

@media all and (max-width: 1024px) {
    .default-box h3,
    .upload-logo__content h2,
    .default-box h2,
    .award__banner p,
    .banner-list-point li,
    .ehr-box h2,
    .comm-txt p {
        font-size: 24px;
    }

    .banner-list-point li:before {
        top: 14px;
        left: 0;
    }

    .yellow-head h4,
    .new-contect-sec .top-sec a,
    .new-contect-sec .info,
    .guidePop ul li a,
    .dgrey-txt p,
    .yellow-list .htBoxIn .htCont .htCont__in h2,
    .yellow-list .htBoxIn .htCont .htCont__in a,
    .yellow-list .htBoxIn .htCont .htCont__in p,
    .guidePop h3,
    .pop-title,
    .pop-info,
    p.form-title,
    .link,
    .points-list ul li h4,
    .points-list ul li a {
        font-size: 21px;
    }

    .yellow-list .htBoxIn .htCont .htCont__in a {
        line-height: 2.2;
        max-width: 184px;
        height: 42px;
    }

    .section {
        padding: 48px 0;
    }

    .h-banner-img {
        min-height: 345px;
    }

    .list-one,
    .default-box p.large-box,
    button.line-white,
    .button.line-white,
    .text-container p,
    .text-container li,
    .big,
    .htBoxIn .htCont .htCont__in a,
    .htBoxIn .htCont .htCont__in p,
    .bend-lgt-yellow.banner-container__bottom p {
        font-size: 20px;
    }

    button.line-white,
    .button.line-white {
        margin-top: 25px;
    }

    .logo-section {
        height: 50px;
        width: 70%;
        margin: auto;
    }

    .main-pg-logo-sec .button {
        margin: 0 auto 25px;
    }

    .dgrey-txt.text-left p {
        margin: 0px 0 20px;
        line-height: 1.7;
    }

    .new-contect-sec .top-sec .paly-ic {
        width: 50px;
    }

    .slider {
        overflow-y: auto;
        font-size: 14px;
        line-height: 2;

        ol {
            padding-left: 5px;
        }
    }

    .box-content h6,
    .box-content li {
        font-size: 23px;
        line-height: 1.6;
        margin-bottom: 12px;
    }

    /*  .text-container p,
    .list-one {
        font-size: 20px;
    } */

    .box-content h4 {
        font-size: 32px;
        line-height: 1;
    }

    .yellow-head h4,
    .list-two {
        font-size: 22px;
    }

    .box-content h6 strong,
    .box-content li strong {
        font-size: 30px;
    }

    .two-line-res .blueBox--link {
        margin-top: 0;
    }

    .list-one li:before {
        top: 12px;
    }

    .slider-points {
        text-align: center;
    }

    .slider-points h5 {
        font-size: 31px;
    }

    .slider-points .big-1 {
        font-size: 39px;
    }

    .slider-points .big-2 {
        font-size: 48px;
    }

    .slider-points .big-3 {
        font-size: 53px;
    }

    .slider-points .big-4 {
        font-size: 64px;
    }

    .slider-points .big-5 {
        font-size: 54px;
    }

    .slider_sec {
        height: 500px;
    }

    .pop-info {
        width: 80%;
    }

    .customize-pg {
        padding: 45px 0px;
    }

    .customize-sec,
    .customize-img-sec {
        padding: 19px;
    }
}

@media all and (max-width: 990px) {
    .banner-container__top {
        height: 74px;
    }

    .main-title .title,
    .banner-container__main .title,
    .banner-container__top .title {
        font-size: 32px;
    }

    .ehr-contact h3 {
        font-size: 22px;
    }

    .text-container.default-box h2,
    .award__banner p,
    .banner-list-point li,
    .ehr-box h2,
    .comm-txt p {
        font-size: 22px;
    }

    .yellow-list .htBoxIn .htImg {
        width: 220px;
    }

    .new-contect-sec .top-sec a,
    .new-contect-sec .info,
    .guidePop ul li a,
    .dgrey-txt p,
    .yellow-list .htBoxIn .htCont .htCont__in h2,
    .yellow-list .htBoxIn .htCont .htCont__in a,
    .yellow-list .htBoxIn .htCont .htCont__in p,
    .guidePop h3,
    .pop-title,
    .pop-info,
    .link,
    .points-list ul li h4,
    .points-list ul li a {
        font-size: 19px;
    }

    .new-contect-sec .top-sec .paly-ic {
        width: 44px;
    }

    .points-list.bg-none {
        padding: 0 55px;
    }

    .points-list {
        padding: 15px 55px;
    }

    .points-list ul li {
        padding: 15px 0;
    }

    .ehr-box {
        margin-bottom: 45px;
        justify-content: space-between;
        height: auto;
    }

    .ehr-container button,
    .ehr-container .button {
        margin-top: 0px;
    }

    .ehr-box button,
    .ehr-box .button {
        margin: 24px auto 0;
    }

    .banner-container__top {
        background: #035084;
    }

    .main-title .title,
    .banner-container__top .title {
        text-align: center;
        margin: 0;
    }

    .banner-container__top h2 {
        /*    font-size: 36px; */
    }

    .button,
    button {
        font-size: 18px;
    }

    .model-title {
        font-size: 30px;
    }

    .container-checkbox,
    .radio-label,
    .model-list li,
    .center-container p {
        font-size: 18px;
    }

    .refrences_sec.favorites p,
    .slider.favorites li,
    .upload-logo__img-box label,
    .upload-logo__content p,
    .form-group label,
    .form-group p {
        font-size: 16px;
    }

    .form-validate .noted {
        font-size: 12px;
    }

    .modal-box,
    .modal-box-wht {
        width: 95%;
        padding: 50px 35px;
    }

    .form-section {
        margin-top: 15px;
    }

    .h-banner-cont {
        max-width: 332px;
    }

    .main-pg-logo-sec {
        margin: 40px 0 50px;
    }

    .default-box p.small-box,
    .banner-container__main p {
        font-size: 16px;
    }

    .form-field {
        height: 40px;
        font-size: 14px;
    }

    .select2-container {
        font-size: 14px;
    }

    .form-box label {
        font-size: 14px;
    }

    .select2-container--default
        .select2-selection--single
        .select2-selection__rendered {
        line-height: 40px;
    }

    .select2-container--default .select2-selection--single,
    .select2-container--default
        .select2-selection--single
        .select2-selection__arrow {
        height: 40px;
    }

    .error {
        font-size: 13px;
    }

    .form-box {
        margin-bottom: 45px;
    }

    .slider.favorites {
        padding: 0px 30px 0px;
    }

    .slider.favorites.open {
        max-height: 600px;
        padding: 0px 30px 0px;
    }

    .slider.favorites ol {
        padding: 0 20px 0 28px;
    }

    .slider.favorites li {
        padding-right: 18px;
    }

    .slider.favorites.open .container {
        padding: 0 15px 32px;
    }

    .pad {
        padding: 0 50px;
    }

    .htFiltSortBox .select2-container {
        font-size: 16px;
    }

    .upload-logo__content {
        padding-left: 30px;
        padding-top: 20px;
    }

    .upload-form-sec,
    .upload-form-sec__1 {
        height: 40px;
        font-size: 14px;
    }

    .upload-form-sec__1 label {
        margin-top: -3px;
        margin-right: -9px;
    }

    .upload-form-sec__1 p {
        margin-top: -3px;
    }

    .htBoxIn .htImg {
        width: 118px;
    }

    .banner-container__main.alt-banner .img-full img {
        object-position: 56%;
    }

    .customize-pg .w50 {
        width: 80%;
        margin: 0 auto;
    }

    .customize-pg {
        padding: 45px 0px;
    }

    .htFilterRow {
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        justify-content: end;
    }

    .sb-search.sb-search-open,
    .no-js .sb-search {
        width: 100%;
        max-width: ~"calc(100% - 8px)";
        margin-bottom: 25px;
    }

    .htFiltHead {
        width: 50%;
        margin-bottom: 20px;
    }

    .htFiltHead.htFiltSortBox {
        /* margin: 0; */
    }

    .htFiltHead .htFiltHdSpan,
    .htFiltSearch {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }

    .htFiltHead1,
    .htFiltHead2 {
        width: 50%;
        float: left;
    }

    .htFiltHead1 {
        padding-right: 8px;
    }

    .htFiltHead2 {
        padding-left: 8px;
    }

    .htFiltHead.htFiltSearchBox {
        width: 100%;
        clear: both;
    }

    .filtIntBox,
    .htFiltBody {
        padding: 0 18px;
    }

    .htBox {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }

    .htBoxIn {
        width: 555px;
        height: auto;
        margin: auto;
    }

    .htBox:nth-of-type(even) .htBoxIn {
        float: none;
    }

    .htImg {
        width: 180px;
    }

    .htCont {
        width: ~"calc(100% - 180px)";
    }

    .sb-search {
        min-width: 40px;
        height: 40px;
    }

    .sb-search-input {
        right: 40px;
        height: 40px;
        font-size: 14px;
    }

    .sb-icon-search,
    .sb-search-submit {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .sb-icon-search {
        font-size: 20px;
    }

    .slider-points a {
        font-size: 24px;
        padding: 6px 35px;
        margin: 40px auto 0;
    }

    .slider-points {
        max-width: 95%;
        text-align: center;
    }

    .img-05 {
        width: 150%;
    }

    .img-06 {
        width: 170%;
    }
    .riview-sec .copy-url {
        bottom: 5px;
    }
}

@media all and (max-width: 800px) {
    p.form-title {
        margin: 40px 0;
    }

    .field-section,
    .form-action {
        margin: 30px auto 0;
    }

    .logo-section {
        width: 91%;
    }

    .htBoxIn {
        flex-direction: column;
    }

    .htContainerIn .htBoxIn {
        text-align: center;
    }

    .htContainerIn .button {
        margin-left: auto;
        margin-right: auto;
    }

    .htBoxIn .htCont {
        width: 100%;
        padding-left: 0px;
        padding-top: 30px;
    }

    .yellow-list .htBoxIn {
        flex-direction: row;
    }

    .yellow-list a {
        font-size: 21px;
        padding: 0 28px;
    }

    .slider.open {
        max-height: 360px;
    }

    .video-container {
        margin: 80px auto;
    }
}

@media all and (max-width: 768px) {
    .banner-container__main .container {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
    }

    .yellow-list a {
        font-size: 19px;
        padding: 0 28px;
        margin-bottom: 15px;
    }

    .h-banner-cont {
        margin: 30px 0;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .banner-container__main .button {
        margin-left: auto;
        margin-right: auto;
    }

    .banner-container__main.alt-banner .img-full img {
        object-position: 95%;
    }

    .banner-container__main .title {
        color: #035084;
    }

    .banner-container__main.alt-banner .h-banner-cont {
        max-width: 625px;
        margin: 30px auto 0;
    }

    .banner-container__main.alt-banner .h-banner-cont .title {
        margin-bottom: 0;
        padding: 0 15px;
    }

    .sub-tag .link,
    .sub-tag,
    .blue_tag {
        font-size: 26px;
    }

    .slider-points h5 {
        font-size: 28px;
    }

    .slider-points .big-1 {
        font-size: 37px;
    }

    .slider-points .big-2 {
        font-size: 43px;
    }

    .slider-points .big-3 {
        font-size: 50px;
    }

    .slider-points .big-4 {
        font-size: 50px;
    }

    .slider-points .big-5 {
        font-size: 49px;
    }

    .slider-points .big-5.cirr {
        font-size: 55px;
    }

    .slider-points a {
        font-size: 28px;
    }

    .img-01,
    .img-02,
    .img-03,
    .img-04,
    .img-05,
    .img-06 {
        left: 50%;
    }

    .img-03 {
        width: 100%;
    }

    .img-04 {
        width: 140%;
    }

    .img-05 {
        width: 210%;
    }

    .img-06 {
        width: 230%;
    }

    .pop-info {
        width: 85%;
    }

    .customize-pg .w50 {
        width: 100%;
    }
}

@media all and (max-width: 767px) {
    .main-top-sec {
        padding: 0 15px;
        position: relative;

        &:after {
            content: " ";
            width: 100%;
            height: 0%;
            border-right: 0px solid #d9af45;
            border-bottom: 1px solid #d9af45;
            top: auto;
            bottom: -24px;
            right: 0px;
            position: absolute;
        }

        &.bdr-none {
            &:after {
                border: 0px solid #d9af45;
            }
        }
    }

    .htBoxIn {
        flex-direction: row;
        margin: auto;
    }

    .center-section {
        margin: 25px auto 0;
    }

    .htBoxIn .htCont {
        width: 100%;
        padding-left: 30px;
        padding-top: 0px;
    }

    .main-pg-logo-sec p {
        margin-bottom: 0;
    }

    .yellow-list .htBoxIn {
        flex-direction: column;
    }

    .yellow-list .htBoxIn .htCont {
        padding-left: 0px;
        flex: 1;
    }

    .center-section {
        max-width: 555px;
        padding: 0 60px;
        width: 100%;
    }

    .htContainerIn .htBox {
        width: 100%;
    }

    .htContainerIn .htBoxIn {
        width: ~"calc(100% - 30px)";
        height: 100%;
        padding: 23px 30px;
    }

    .htContainerIn .htBoxIn {
        text-align: left;
    }

    .htContainerIn .button {
        margin-left: 0;
        margin-right: 0;
    }

    .slider-points a {
        font-size: 22px;
        padding: 6px 35px;
        margin: 25px auto 0;
    }
}

@media all and (max-width: 640px) {
    .main-title .title,
    .banner-container__main .title,
    .banner-container__top .title {
        font-size: 30px;
    }

    .model-title {
        font-size: 26px;
    }

    .model-close {
        right: 20px;
        top: 20px;
        width: 30px;
        height: 30px;
    }

    .modal-box-wht {
        padding: 30px 20px;
    }

    .radio-group {
        flex-direction: column;
    }

    p.form-title {
        margin: 25px 0;
    }

    .field-section,
    .form-action {
        margin: 30px auto 0;
    }

    .container-checkbox {
        margin-bottom: 5px;
    }

    .model-close img {
        width: 100%;
    }

    .modal-box {
        padding: 30px 20px;
    }

    .guidePop h3 br {
        display: none;
    }

    .mob-close-box {
        padding: 15px 0;
        width: 70px;
    }

    .mob-close img {
        width: 20px;
    }

    .default-box p {
        max-width: 95%;
    }

    .form-box textarea {
        height: 140px;
    }

    .mobl {
        display: block;
    }

    .org {
        display: none;
    }

    .mainhead {
        font-size: 32px;
        padding: 38px 0;
    }

    .logo-section {
        width: 100%;
        max-width: 360px;
    }

    .htBoxIn .htCont {
        width: 100%;
        padding-left: 0;
        padding-top: 15px;
    }

    .htBoxIn {
        width: 100%;
        max-width: 555px;
        height: auto;
        padding: 25px 30px;
        display: flex;
        flex-direction: column;
    }

    .center-section {
        padding: 0 30px;
    }

    .yellow-list .htBoxIn .htImg {
        width: 185px;
    }

    .yellow-list a {
        font-size: 19px;
        padding: 0 16px;
        margin-bottom: 15px;
    }

    .slider.favorites ol {
        padding: 0 20px 0 36px;
    }

    .blue-box {
        padding: 20px 35px 20px 20px;
        margin-left: -15px;
        width: ~"calc(100% + 30px)";
        text-align: center;
    }

    .box-content h6:last-child {
        margin-bottom: 20px;
    }

    .refrences_sec h5 {
        line-height: 45px;
    }

    .refrences_sec {
        height: auto;
        padding: 5px 0;
    }

    .pad {
        padding: 0 15px;
    }

    .box-content h6,
    .box-content li {
        line-height: 1.4;
    }

    .box-content h4 {
        margin-bottom: 0;
        line-height: initial;
        margin-top: 15px;
        font-size: 28px;
    }

    .box-content h6 strong,
    .box-content li strong {
        font-size: 28px;
    }

    .box-content h6,
    .box-content li {
        font-size: 20px;
        margin-top: 8px;
        margin-bottom: 0;
    }

    .text-container p,
    .list-one li {
        font-size: 18px;
    }

    .list-one {
        margin: 20px 0 20px 34px;
    }

    .customize-sec,
    .customize-img-sec {
        padding: 18px;
    }

    .side-space {
        padding: 17.5px 16px;
    }

    /*  .htCont button,
    .htCont .button {
        margin: 0 auto;
    }
 */
    .htContainerIn .button {
        margin-left: auto;
        margin-right: auto;
    }

    .htBox {
        padding: 0 20px;
    }

    .htBoxIn {
        width: 100%;
        max-width: 555px;
        height: auto;
        display: block;
    }

    .htImg {
        display: block;
        margin: 0 auto 0px;
    }

    .htCont {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .htCont__in {
        min-height: auto;
    }

    .htContainerIn .htBoxIn {
        padding: 21px 21px;
    }

    .ehr-contact h3 {
        margin-top: 0;
    }

    .slider-points p {
        font-size: 11px;
    }

    .slider-points .big-2 {
        font-size: 40px;
    }

    .slider-points .big-3 {
        font-size: 40px;
    }

    .slider-points .big-4 {
        font-size: 51px;
    }

    .slider-points .big-5 {
        font-size: 40px;
    }

    .slider-points .big-5.cirr {
        font-size: 58px;
    }
    .slider-points .big-3 sup {
        top: 19px;
    }
    .slider-points.point-3 .big-5.hep sup {
        top: inherit !important;
        bottom: 32px;
    }
    /*   .slider_sec
        .swiper-slide:nthchild(2)
        .slider-points.point-3
        .big-5.hep
        sup {
        top: inherit !important;
    bottom: 40px;
    } */
    .slider-points sup {
        font-size: 19px;
    }

    .slider-points span sup {
        font-size: 14px;
        top: 30px;
        right: -10px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }

    .ref-hint,
    .footer-note {
        font-size: 12px;
    }

    .container-checkbox,
    .radio-label {
        font-size: 16px;
    }

    .main-pg-logo-sec p {
        font-size: 15px;
    }

    .banner-container__main.alt-banner .h-banner-img {
        min-height: 300px;
    }

    .slider-points h5 {
        font-size: 22px;
    }

    .slider-points .big-1 {
        font-size: 27px;
    }

    .slider-points .big-2 {
        font-size: 33px;
    }

    .slider-points .big-3 {
        font-size: 40px;
    }

    .slider-points .big-4 {
        font-size: 45px;
    }

    .slider-points .big-5 {
        font-size: 39px;
    }

    .slider-points .big-5.cirr {
        font-size: 58px;
    }

    .slider-points sup {
        font-size: 19px;
    }

    .riview-sec .copy-rl {
        min-width: 100px;
    }
}

@media all and (max-width: 480px) {
    h3 {
        font-size: 20px;
        line-height: 30px;
        margin: 15px 0;
    }

    .text-container .blk-title {
        font-size: 18px;
    }

    .ehr-contact h3 {
        font-size: 20px;
    }

    .text-container.default-box h2,
    .award__banner p,
    .banner-list-point li,
    .ehr-box h2,
    .comm-txt p {
        font-size: 20px;
        margin: 0 0 22px;
    }

    .award__banner p,
    .ehr-box h2 {
        margin: 0 0 0px;
    }

    .points-list ul li h4,
    .points-list ul li a {
        font-size: 18px;
    }

    .points-list {
        padding: 15px 45px;
    }

    .yellow-list {
        padding: 20px 35px;
    }

    .points-list.bg-none {
        padding: 0 45px;
    }

    .model-title {
        font-size: 24px;
    }

    .mainhead {
        font-size: 26px;
        padding: 28px 0;
    }

    .yellow-list .htBoxIn .htImg {
        width: 165px;
    }

    .slider.favorites.open {
        max-height: 600px;
        padding: 12px 30px 30px;
    }

    hr {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .pad {
        padding: 0 30px;
    }

    .refrences_sec.favorites p {
        margin: 0 00px 0 47px;
    }

    .upload-logo {
        display: block;
        text-align: center;
    }

    .upload-logo__img {
        margin: 0 auto;
    }

    .upload-logo__content {
        padding-left: 0;
    }

    .upload-logo__content h2 {
        font-size: 24px;
    }

    .upload-logo__content p {
        font-size: 16px;
    }

    .slider.favorites ol {
        padding: 0 20px 0 22px;
    }

    .button,
    button {
        font-size: 16px;
        height: 40px;
        line-height: 40px;
    }

    .banner-container__main.alt-banner .img-full img {
        object-position: 80%;
    }

    .sub-tag .link,
    .sub-tag,
    .blue_tag {
        font-size: 22px;
    }

    .video-container {
        margin: 40px auto;
    }

    .slider-points h5 {
        font-size: 22px;
    }

    .slider-points .big-1 {
        font-size: 27px;
    }

    .slider-points .big-2 {
        font-size: 23px;
    }

    .slider-points .big-3 {
        font-size: 31px;
    }

    .slider-points .big-4 {
        font-size: 30px;
    }

    .slider-points .big-5 {
        font-size: 33px;
    }

    .slider-points .big-5.cirr {
        font-size: 45px;
    }

    .slider-points a {
        font-size: 18px;
    }

    .slider-points sup {
        font-size: 17px;
    }

    .slider-points span sup {
        top: 17px;
        right: -10px;
    }

    .slider_sec {
        height: 460px;
    }

    .pop-info {
        width: 100%;
        font-size: 17px;
    }

    .main-area .title {
        font-size: 18px;
    }

    .htContainer {
        padding: 20px 0;
    }

    .htCont__in p {
        font-size: 16px;
    }

    .htFiltHead1,
    .htFiltHead2 {
        width: 100%;
        float: none;
        padding: 0 8px;
    }

    .htFiltHead {
        margin-bottom: 10px;
    }

    .htFiltHead {
        width: 100%;
        margin-bottom: 16px;
    }

    .htContainerIn .htBoxIn {
        width: ~"calc(100% - 15px)";
    }

    .upload-sec,
    .riview-sec {
        margin-top: 25px;
    }
    .upload-sec {
        height: 117px;
    }

    .riview-sec .copy-url {
        top: auto;
        bottom: 5px;
        transform: translateY(-0%);
        -webkit-transform: translateY(-0%);
        -moz-transform: translateY(-0%);
        -ms-transform: translateY(-0%);
        -o-transform: translateY(-0%);
    }

    .riview-sec .copy-url {
        position: relative;
        right: auto;
        top: 7px;
        margin-top: 10px;
    }

    .file-upload-wrapper:after {
        font-size: 13px;
    }

    .file-upload-wrapper,
    .file-copy-wrapper input {
        position: relative;
        overflow: visible;
        display: flex;
    }

    .file-upload-wrapper input {
        height: 74px;
    }

    .file-upload-wrapper:before {
        position: relative;
        display: block;
        top: 45px;
        width: fit-content;
        right: -50%;
        line-height: 2;
        transform: translateX(-50px);
    }

    .file-upload-wrapper:after {
        width: 100%;
    }
    .side-space button {
        font-size: 15px;
        padding: 12px 12px;
    }

    .main-area .mr-top-01 {
        margin-top: 40px;
        display: block;
    }

    .form-box label {
        height: auto;
        line-height: auto;
    }

    .customize-pg {
        padding: 25px 0;
    }

    .text-container sup {
        font-size: 14px;
        top: -0.6em;
    }
}

@media all and (max-width: 400px) {
    .banner-container__top {
        height: 72px;
    }

    .main-title .title,
    .banner-container__main .title,
    .banner-container__top .title {
        font-size: 28px;
    }

    .default-box h3,
    .upload-logo__content h2,
    .default-box h2 {
        font-size: 22px;
    }

    .section {
        padding: 30px 0;
    }

    .blue-box {
        margin: 0 0 30px;
    }

    .yellow-head {
        margin-top: 40px;
    }

    .slider_sec {
        height: 535px;
    }
}

@media all and (max-width: 375px) {
    button.m-width,
    .button.m-width {
        min-width: 100%;
    }

    .img-full img {
        object-position: 87%;
    }

    .htBoxIn {
        padding: 25px 20px;
    }

    .sub-tag .link,
    .sub-tag,
    .blue_tag {
        font-size: 16px;
    }
}
