/* 
body {
  opacity: 0;
} */
/* =========================================== */
/* Header */
/* =========================================== */


/* =========================================== */
/* Header Over */
/* =========================================== */





















/* .about-box .default-box p {
  max-width: 700px;
}
 */

/* // Added 24 April */