 html,
 body {
   width: 100%;
 }

 :root {
   --clr: #035084;
   --clr-d: #19618f;
 }


 a {
   transition: all 0.2s ease-in-out;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   text-decoration: none;
 }

 /*  a:hover {
   text-decoration: none;
   color: #f7d259;
 } */

 ul {
   list-style: none;
   margin: 0;
   padding: 0;
 }

 input [type=submit],
 button {
   outline: none !important;
 }

 .no-padding-left {
   padding-left: 0 !important;
 }

 .no-padding-right {
   padding-right: 0 !important;
 }

 .no-padding {
   padding: 0 !important;
 }

 .clear {
   clear: both;
 }

 .mainContainer {
   position: relative;
 }


 .containerBig {
   width: 1630px;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
 }

 /* 
body {
  opacity: 0;
} */











 .modal-box {
   background: #035084;
   width: 100%;
   max-width: 1170px;
   padding: 80px;
   pointer-events: auto;
 }

 .modal-box .default-box h2,
 .modal-box .default-box p,
 .modal-box .form-box label,
 .modal-box .ind-txt {
   color: #fff;
 }

 .modal-box .form-field {
   background: #fff;
 }

 .modal-box .form-box button,
 .modal-box .form-box .button {
   margin: 0 auto;
   display: block;
   background: #fff;
   width: 300px;
   color: #035084;
 }

 .modal-box .form-box button:hover,
 .modal-box .form-box .button:hover {
   background: rgba(255, 255, 255, 0.8);
 }

 .model-close {
   cursor: pointer;
   position: absolute;
   right: 30px;
   top: 30px;
   transition: 0.2s all ease;
   -webkit-transition: 0.2s all ease;
   -moz-transition: 0.2s all ease;
   -ms-transition: 0.2s all ease;
   -o-transition: 0.2s all ease;
 }

 .model-close:hover {
   transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   -o-transform: rotate(90deg);
 }

 .menu {
   position: relative;
   cursor: pointer;
   display: inline-block;
   width: 35px;
   height: 30px;
   top: 0;
   margin: 0 15px;
   display: none;
 }

 .menu span {
   height: 3px;
   width: 27px;
   background: #000;
   right: 0;
   top: 15px;
   border-radius: 30px;
   position: absolute;
   transition: all 0.2s ease-in-out;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
 }

 .menu span:before {
   content: '';
   position: absolute;
   top: -10px;
   right: 0;
   background: #000;
   height: 3px;
   width: 34px;
   border-radius: 30px;
 }

 .menu span:after {
   content: '';
   position: absolute;
   top: 10px;
   right: 0;
   background: #000;
   height: 3px;
   width: 34px;
   border-radius: 30px;
 }

 .menu:hover span {
   width: 34px;
 }

 /* Health Tool */
 .htContainer {
   padding: 70px 0;
 }

 .htContainerIn {
   max-width: 1175px;
   margin: 0 auto;
 }




 .htBox:nth-of-type(even) .htBoxIn {
   float: right;
 }





 ul.pagin {
   text-align: center;
   margin: 30px 0 0;
   clear: both;
 }

 ul.pagin li {
   font-size: 16px;
   color: #035084;
   display: inline-block;
   vertical-align: middle;
   width: 32px;
   height: 32px;
   line-height: 30px;
   text-align: center;
   font-family: 'Open Sans', 'semibold', sans-serif;
   font-weight: 600;
   border-radius: 50%;
   transition: 0.2s all ease;
   -webkit-transition: 0.2s all ease;
   -moz-transition: 0.2s all ease;
   -ms-transition: 0.2s all ease;
   -o-transition: 0.2s all ease;
   cursor: pointer;
 }

 ul.pagin li:hover,
 ul.pagin li.active {
   background: #035084;
   color: #fff;
 }

 ul.pagin li.paginNP {
   background: #035084;
   color: #fff;
   border-radius: 0;
   width: 82px;
 }

 ul.pagin li.paginNP:hover {
   background: #035084;
 }

 .htFilter {
   background: #035084;
   padding: 15px 0;
 }

 .htFilterRow {
   display: flex;
   margin-left: -18px;
   margin-right: -18px;
 }

 .htFiltHead {
   width: 20%;
   padding: 0 18px;
 }

 .htFiltHead .htFiltHdSpan {
   cursor: pointer;
 }

 .htFiltHead .htFiltHdSpan {
   cursor: pointer;
   width: 100%;
   height: 50px;
   background: #fff;
   display: block;
   text-align: center;
   line-height: 50px;
   position: relative;
   font-size: 16px;
   color: #035084;
 }

 .htFiltHead .htFiltHdSpan img {
   position: absolute;
   right: 15px;
   top: 50%;
   margin-top: -4px;
 }

 .htFiltHead .select2-container--default .select2-selection--single {
   background: #fff;
   border-bottom: 0;
 }

 .htFiltHead .select2-container--default .select2-selection--single .select2-selection__rendered {
   text-align: center;
 }

 .htFiltHead .select2-container--default .select2-selection--single .select2-selection__placeholder {
   color: #035084;
 }

 .htFiltHead .select2-container--default .select2-selection--single .select2-selection__arrow {
   background: url(../img/arrow.png) no-repeat center center;
 }

 .htFiltSearch {
   width: 100%;
   height: 50px;
   display: block;
   line-height: 50px;
   position: relative;
   font-size: 16px;
   color: #035084;
   background: #fff url(../img/search-clr.png) no-repeat calc(100% - 15px) center;
   outline: none;
   border: 0;
   padding: 0 15px;
   padding-right: 40px;
 }

 .htFiltSearch::-webkit-input-placeholder {
   text-align: center;
 }

 .htFiltSearch:-ms-input-placeholder {
   text-align: center;
 }

 .htFiltSearch::placeholder {
   text-align: center;
 }

 .htFiltHead.htFiltSearchBox {
   width: 40%;
   position: relative;
 }

 .htFiltSearchBox button {
   z-index: 99;
   position: absolute;
   top: 0;
   right: 18px;
   border-radius: 0;
   height: 100%;
   width: 40px;
   opacity: 0;
 }

 .filtInt {
   background: #fff;
   display: inline-block;
   width: 100%;
   vertical-align: middle;
   height: 170px;
 }

 .filtInt ul {
   max-width: 750px;
   margin: 50px auto;
 }

 .filtInt ul li {
   display: inline-block;
   width: 32%;
   text-align: left;
   vertical-align: top;
 }

 .filtBtns {
   text-align: center;
 }

 .filtBtns button,
 .filtBtns .button {
   width: 205px;
   color: #035084;
   background: #fff;
   display: block;
   margin: 37px auto 0;
 }

 .filtBtns button:hover,
 .filtBtns .button:hover {
   opacity: 0.8;
 }

 .filtBtns a {
   font-size: 15px;
   color: #ffffff;
   text-decoration: underline;
   margin: 7px 0 12px;
   display: inline-block;
   vertical-align: middle;
 }

 .filtBtns a:hover {
   opacity: 0.8;
 }

 .filtResult {
   font-size: 15px;
   color: #ffffff;
   font-family: 'Open Sans', 'semibold', sans-serif;
   font-weight: 600;
   margin-top: 20px;
   margin-bottom: 0;
   text-align: center;
 }

 .filtIntBox,
 .htFiltBody {
   display: none;
 }

 .filtInt ul li .check-box label {
   font-size: 18px;
   color: #6d6e71;
 }


 sup {
   font-size: 12px
 }

 h3 sup {
   top: -13px;
   font-weight: bold;
 }


























 .searchContainer {
   position: fixed;
   z-index: 999;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(15, 114, 179, 0.5);
   display: none;
 }

 .srchBox {
   height: 40px;
   background: rgba(15, 114, 179, 1);
 }

 .srch {
   position: relative;
 }

 .srch input {
   width: 100%;
   height: 40px;
   border: 0;
   outline: none;
   color: #fff;
   padding-left: 40px;
   padding-right: 30px;
   background: url(../img/search.png) no-repeat 0px center;
 }

 .srch .srchClose {
   position: absolute;
   top: 12px;
   right: 0;
   background: url(../img/close-white.png)no-repeat center center/contain;
   width: 15px;
   height: 15px;
   cursor: pointer;
 }

 .srch input::-webkit-input-placeholder {
   color: #fff;
 }

 .srch input:-ms-input-placeholder {
   color: #fff;
 }

 .srch input::placeholder {
   color: #fff;
 }

 .srchBtn {
   cursor: pointer;
   /* width      : 30px; */
   /* height     : 30px; */
   display: inline-block;
   vertical-align: middle;
 }

 /* Menu */
 .menu-icon {
   position: relative;
   cursor: pointer;
   display: none;
   width: 35px;
   height: 28px;
   top: 0;
   margin: 0;
 }

 .menu-icon span {
   background: #035084;
   right: 0;
   top: 12px;
   position: absolute;
   width: 100%;
   height: 4px;
 }

 .menu-icon span:before {
   content: '';
   top: -11px;
   background: #035084;
   right: 0;
   position: absolute;
   width: 100%;
   height: 4px;
 }

 .menu-icon span:after {
   content: '';
   top: 11px;
   background: #035084;
   right: 0;
   position: absolute;
   width: 100%;
   height: 4px;
 }

 .mob-menu {
   display: flex;
   width: 100%;
   height: 100%;
 }

 .mob-menu-up,
 .mob-menu-box {
   display: none;
 }

 .mob-srchBtn {
   margin-right: 25px;
 }


 .mob-menu-up {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #d9af45;
   z-index: 999;
   color: #fff;
 }

 .mob-close-box {
   background: #035084;
   text-align: center;
   padding: 35px 0;
   width: 100px;
 }

 .mob-close-box span {
   color: #ffffff;
   font-size: 28px;
   line-height: 1;
   display: inline-block;
 }

 /* // Menu */


 .h-banner-img-big img {
   width: 100%;
 }


 .mobl {
   display: none;
 }

 .contact-msg {
   min-height: 172px;
   display: flex;
   align-items: center;
   justify-content: center;
   /*text-align   : center;*/
   margin: 150px 0;

 }

 #regModal .modal-box {
   padding: 45px 40px;
 }

 #regModal {
   font-size: 14px;
   line-height: 1.5;
   color: #feffff;
 }

 #regModal .combig {
   font-size: 17px;
 }

 #regModal h2 {
   font-family: 'Open Sans', 'semibold', sans-serif;
   font-weight: 600;
   font-size: 14px;
   margin-bottom: 20px;
 }

 .guidePop h3 {
   font-size: 26px;
   color: #ffffff;
   text-align: center;
   font-family: 'Open Sans', 'semibold', sans-serif;
   font-weight: 600;
 }

 .guidePop ul {
   text-align: center;
 }

 .guidePop ul li {
   display: inline-block;
   vertical-align: middle;
   margin: 0 20px;
 }

 .guidePop ul li a {
   font-size: 16px;
   color: #ffffff;
   text-align: center;
 }

 .guidePop .check-box {
   position: relative;
   margin-bottom: 10px;
   display: inline-block;
   margin: 60px 0 0;
 }

 .guidePop .check-box label {
   color: #fff;
 }

 .guidePop .check-box label:before {
   border: 1px solid #ffffff;
 }

 .guidePop .check-box input:checked+label:before {
   /* background: #ffffff;*/
   background: url(../img/right-white.png) no-repeat center center/contain;
 }

 .srch__container {
   background: #fff;
   padding: 20px 5px;
   margin: 0 30px;
 }

 .srch__container__in {
   width: 100%;
   float: left;
   padding: 0 15px;
 }

 .srch__container__in h2 {
   font-family: 'Open Sans', 'semibold', sans-serif;
   font-weight: 600;
   font-size: 18px;
   color: #035084;
   margin-bottom: 20px;
 }

 .srch__container__in ul li {
   margin-bottom: 15px;
 }

 .srch__container__in ul li a {
   font-size: 16px;
   color: #035084;
   line-height: 1.5;
   display: block;
   text-transform: none;
 }

 .srch__container__in ul li a:hover {
   text-decoration: underline;
   color: #035084;
 }

 .srch-all {
   margin-top: 20px;
   text-align: center;
   padding: 0 20px;
 }

 .srch-all a {
   font-family: 'Open Sans', 'semibold', sans-serif;
   font-weight: 600;
   font-size: 16px;
   color: #035084;
   line-height: 1.5;
   display: block;
   text-transform: none;
 }

 .srch-all a:hover {
   text-decoration: underline;
   color: #035084;
 }

 .search-banner {
   height: auto;
   min-height: 94px;
   background-position-x: 90%;
 }

 .banner-container__top.search-banner h2 {
   max-width: 75%;
   margin: 20px 0 25px;
 }

 .search-container-up {
   margin: 70px 0;
 }

 .search-container {
   margin-bottom: 20px;
   display: inline-block;
   vertical-align: middle;
   width: 100%;
 }

 .search-container li {
   color: #6D6E71;
   line-height: 25.888px;
   font-size: 16px;
   margin-bottom: 35px;
 }

 .search-container li span {
   margin-bottom: 10px;
   display: block;
 }

 .search-container li a.search-main-link {
   font-size: 28px;
   color: #035084;
   line-height: 1.3;
   display: block;
   margin-bottom: 10px;
 }

 .search-container li a.search-sub-link {
   color: #035084;
   line-height: 25.888px;
   font-size: 16px;
   margin-bottom: 10px;
   word-break: break-all;
 }

 .srch__cont {
   display: inline-block;
   vertical-align: middle;
   max-height: 250px;
   overflow: auto;
 }

 .search-container li a.search-sub-link:hover {
   text-decoration: underline;
 }


 .alert {
   position: fixed;
   bottom: 20px;
   right: 20px;
 }

 .pagination {
   text-align: center;
   display: block;
 }

 .page-item {
   display: inline-block;
   position: relative;
   margin: 0 5px;
 }

 .page-link {
   font-size: 16px;
   color: #035084;
   display: inline-block;
   vertical-align: middle;
   width: 32px;
   height: 32px;
   line-height: 30px;
   text-align: center;
   font-family: 'Open Sans', 'semibold', sans-serif;
   font-weight: 600;
   border-radius: 50%;
   transition: 0.2s all ease;
   -webkit-transition: 0.2s all ease;
   -moz-transition: 0.2s all ease;
   -ms-transition: 0.2s all ease;
   -o-transition: 0.2s all ease;
   cursor: pointer;
   padding: 0;
   border: 0;
   margin: 0;
 }

 .page-item.active .page-link {
   background-color: #035084;
 }

 .pagination .page-item:first-of-type .page-link,
 .pagination .page-item:last-of-type .page-link {
   background: transparent;
   color: #fff;
   border-radius: 0;
   width: 82px;
   color: #fff;
   font-size: 0;
   z-index: 999;
 }

 .pagination .page-item:first-of-type:after,
 .pagination .page-item:last-of-type:after {
   color: #fff;
   position: absolute;
   left: 0;
   top: 0;
   z-index: 99;
   width: 100%;
   height: 100%;
   line-height: 30px;
   font-family: 'Open Sans', 'regular',
     sans-serif;
   font-weight: 600;
   background: #035084;
 }

 .pagination .page-item:first-of-type:after {
   content: 'Prev';
 }

 .pagination .page-item:last-of-type:after {
   content: 'Next';
 }

 /*by sanat starts here*/
 .disclaimer {
   background-color: rgba(225, 225, 225, 0.31);
   padding: 40px 20px;
 }

 .disclaimer p {
   line-height: 1.5;
   text-align: center;
   font-size: 13px;
   margin-bottom: 5px;
   color: #787878;
 }

 .privacy-policy {
   color: #787878;
   position: relative;
   top: -40px;
   float: right;
   -webkit-transition: 0.2s all ease-in-out;
   -o-transition: 0.2s all ease-in-out;
   -moz-transition: 0.2s all ease-in-out;
   transition: 0.2s all ease-in-out;
 }

 .privacy-policy:hover {
   color: #035084;
 }

 .guidePop p {
   width: 66%;
   margin: 25px auto 0;
 }

 /*by sanat ends here*/














 .footer-note {
   background-color: #f6f6f6;
   color: #787878;
   font-size: 13px;
   text-align: center;
   padding: 45px 0;
 }

 .footer-note p {
   max-width: 831px;
   width: 95%;
   margin: 0 auto;
   line-height: 2;
 }






 .cirr .super {
   position: relative;

 }

 .super {
   position: relative;
   font-weight: normal;
 }

 .cirr .super,
 .chronic .super,
 .hep .super,
 .pre .super {
   position: relative;
   font-weight: 600;
 }


 .main_section .blue_tag {
   background: #005084;
   font-family: 'Roboto Slab', serif;
   font-size: 34px;
   font-weight: 400;
   color: #fff;
   padding: 30px 15px;
   margin-top: 50px;
   text-align: center;
 }

 .main_section .blue_tag a {
   position: relative;
   width: fit-content;
   text-decoration: none;
   color: #fff;

 }

 .main_section .blue_tag a:after {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px;
   background: #ffffff;
   left: 0;
   bottom: 0;
   transition: all 0.3s ease;
 }

 .main_section .blue_tag a:hover:after {

   width: 100%;

 }


 .main_section .sub-tag span,
 .main_section .sub-tag strong {
   font-weight: 900;
 }

 /* ========================================================================== 
MEDIA STYLE
 ==========================================================================*/
 /* ========================================================================== 
COMMAN  CSS STYLE
 ==========================================================================*/
 .margin-tb {
   margin: 90px 0 70px;
 }

 .margin-top1 {
   margin-top: 50px;
 }

 .margin-bottom1 {
   margin-bottom: 50px;
 }







 .gt-src {
   display: inline-block;
   position: relative;
   color: #000;
   width: calc(100% - 270px) !important;

 }




 .modal {
   background-color: rgba(245, 211, 89, 0.4);
 }