@media all and (max-width:1600px) {}

@media all and (max-width:1440px) {

    /* .main-header ul li a {
        font-size: 16px;
    }

    .logo a {
        width: 130px;
    }

    .logo a img {
        width: 100%;
    }

    .main-header ul li {
        margin: 0 14px;
    }

    .main-header__in {
        height: 100px;
    }

    .banner-container__top h2 {
        font-size: 36px;
    }

    .banner-container__main p {
        font-size: 18px;
    } */
}

@media all and (max-width:1336px) {}


@media all and (max-width:1280px) {

    /*hardik start*/

    .privacy-boc__br {
        display: block;
    }

    /*hardik end*/

}

@media all and (max-width:1200px) {




    .privacy-policy {
        /* right: 42px; */
    }




    .ehr-box {
        padding: 0;
    }

    .ehr-box h2 {
        font-size: 26px;
    }

    /*  h3 {
        font-size: 24px;
        line-height: 34px;
    }
 */
    .section.ehrTopCont {
        padding: 30px 0;
    }




    .banner-container__top.search-banner h2 {
        font-size: 30px;
    }

    .sp-txt {
        font-size: 24px;
        margin-top: 0;
    }

    .sp-box__in p {
        font-size: 16px;
    }

    .sp-box__in h2 {
        font-size: 24px;
    }

    .sp-box__in {
        width: 220px;
        height: 214px;
    }

    .default-box p {
        font-size: 18px;
    }

    .sp-box-img {
        /* height: 400px; */
    }

    .htFiltHead .htFiltHdSpan {
        font-size: 13px;
    }



    .filtInt ul li .check-box label {
        font-size: 14px;
    }

    .search-container-up {
        margin: 50px 0;
    }

    .my-acc-box .pad {
        padding: 0 60px;
    }



    .banner-container__main p {
        font-size: 16px;
    }



    /* Added 24 April */


    .about-box .default-box p {
        max-width: 590px;
    }
}

@media all and (max-width:1024px) {

    /*hardik start*/


    .privacy-boc__br {
        display: none;
    }

    .privacy-box {
        bottom: 60px;
        width: 100%;
        text-align: center;
        right: 0;
    }

    /*hardik end*/



}

@media all and (max-width:990px) {




    .footer-slip {
        background: #0d73b2 url('../img/footer-bg.jpg')no-repeat 70% bottom/cover;
    }



    .sp-box {
        display: block;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        position: relative;
    }

    .sp-box__in {
        width: 400px;
        height: 214px;
        display: block;
        margin: 0 auto 30px;
    }

    .sp-box__in h2 {
        font-size: 36px;
    }

    .sp-box__in p {
        font-size: 19px;
    }

    .sp-box-img {
        /* height: auto; */
    }

    .banner-container__main p {
        font-size: 16px;
    }

    .banner-container__main {
        /* min-height: 400px; */
    }



    .default-box p {
        max-width: 650px;
    }

    .evidence-links ul li h2 {
        font-size: 30px;
    }

    .evidence-links ul li a {
        font-size: 22px;
    }

    .guideline-links ul li a {
        font-size: 22px;
    }

    .guideline-links ul li {
        padding: 25px 80px;
        margin-bottom: 20px;
        padding-right: 25px;
    }




    .filtInt ul {
        margin: 30px auto 15px;
    }

    .filtInt ul li {
        width: 100%;
    }

    .filtBtns button {
        margin: 15px auto 0;
    }

    .banner-container__top.search-banner h2 {
        max-width: 100%;
    }

    .search-container li a.search-main-link {
        font-size: 24px;
    }

    .srch__container__in ul li a {
        font-size: 14px;
    }


    .modal-box {
        padding: 60px;
    }

    .guidePop p {
        width: 100%;
    }

    .srchBtn {
        width: 30px;
    }

    .srchBtn img {
        width: 100%;
    }

    .privacy-policy {
        position: static;
        float: none;
        margin-bottom: 20px;
        display: inline-block;
        font-size: 14px;
    }

    .ehr-contact .button {
        margin: 0 auto;
    }

    /* .h-banner-img-big{display: none;} */
    /* .banner-container__main-in {padding: 0; max-width: 100%; } */
    .h-banner-img-big {
        height: 340px;
    }

    .h-banner-img-big img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Added 24 April */
    /* .container {
        max-width: 720px;
    }
 */
    .filtResult {
        margin-top: 0;
    }

    .htFiltSortBox .select2-container {
        font-size: 16px;
    }

    .abt-award {
        position: relative;
        text-align: center;
    }
}


@media all and (max-width:800px) {

    /*hardik start*/


    /*hardik end*/

    .privacy-policy {
        position: static;
        margin-bottom: 10px;
        display: block;
    }

}


@media all and (max-width: 768px) {

    .banner-container__main button,
    .banner-container__main .button {
        margin: 20px auto 0;
    }

    /*  .container {
        max-width: 100%;
    }
 */
    .banner-container__main {
        min-height: auto;
        padding: 0;
        background: transparent;
        text-align: center;
    }

    .h-banner-img {
        display: block;
    }

    .h-banner-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .h-banner-cont {
        margin: 30px 0;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .banner-container__main p {
        font-size: 24px;
    }

    .sp-container {
        padding: 40px 0;
    }

    /*    .reg-form {
        padding-top: 10px;
    } */

    .section.eved-start {
        padding-top: 20px;
    }

    .modal-box {
        background: #0d73b2;
        width: 100%;
        max-width: 1170px;
        padding: 40px;
        pointer-events: auto;
    }

    .srch__container__in {
        width: 100%;
        margin-bottom: 20px;
    }

    .h-banner-img-big {
        display: none;
    }

    .banner-container__main-in {
        padding: 0 15px;
        position: static;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
}



@media all and (max-width:640px) {


    /*hardik start*/

    .privacy-box {
        bottom: 45px;
    }

    /*hardik end*/

    footer p {
        padding: 0 15px;
    }

    .login-register {
        margin: 70px 0 0px;
        padding: 0 15px;
    }




}

@media all and (max-width: 576px) {



    .privacy-box li:first-of-type {
        margin-bottom: 5px;
    }
}

@media all and (max-width:480px) {
    h3 {
        font-size: 20px;
        line-height: 30px;
        margin: 15px 0;
    }

    ul.navigation li a {
        font-size: 18px;
    }

    .footer-slip {
        height: 20px;
    }

    .default-box p {
        max-width: 90%;
    }

    .banner-container__main p {
        font-size: 20px;
        line-height: 1.5;
    }


    .sp-box__in {
        width: 100%;
        height: 214px;
    }

    .sp-box__in h2 {
        font-size: 28px;
    }

    /*  .default-box h2 {
        font-size: 26px;
        margin-bottom: 10px;
    } */

    .default-box p {
        font-size: 16px;
    }

    footer {
        padding-top: 30px;
    }

    .sp-container {
        padding: 30px 0;
    }

    .evidence-links {
        padding: 15px 30px;
    }

    .evidence-links ul li h2 {
        font-size: 24px;
    }

    .evidence-links ul li a {
        font-size: 20px;
    }

    .evidence-links ul li {
        margin: 20px 0;
    }

    .ehr-contact {
        /* margin-bottom: 40px; */
    }

    .guideline-links ul li a {
        font-size: 20px;
    }

    .srch input,
    .srchBox {
        height: 40px;
    }

    .srch input {
        padding-left: 30px;
        padding-right: 20px;
    }

    .srch .srchClose {
        top: 12px;
        width: 15px;
        height: 15px;
    }




    #regModal .modal-box {
        padding: 45px 20px;
    }

    .modal-box {
        padding: 20px;
        padding-top: 50px;
    }

    .model-close {
        right: 20px;
        top: 10px;
    }

    .modal-box .form-box button {
        width: 100%;
        font-size: 16px;
    }

    .guidePop h3 {
        font-size: 22px;
    }

    .guidePop .check-box {
        margin: 50px 0 0;
    }

    .guidePop ul {
        margin: 30px 0 10px;
    }

    .banner-container__top.search-banner h2 {
        font-size: 24px;
    }

    .banner-container__top h2 span {
        font-size: 14px;
    }

    .search-container li a.search-main-link {
        font-size: 22px;
    }

    .srch__container {
        margin: 0 20px;
    }

    .srch__container__in ul li {
        margin-bottom: 10px;
    }

    .srch__container__in h2 {
        margin-bottom: 15px;
    }

    .my-acc-box .pad {
        padding: 0 30px;
    }


    .page-item {
        font-size: 14px;
    }

    .pagination .page-item:first-of-type .page-link,
    .pagination .page-item:last-of-type .page-link {
        width: 62px;
    }

    .page-link {
        font-size: 14px;
    }

    .htCont button,
    .htCont .button {
        font-size: 14px;
    }

    .abt-award {
        top: -35px;
    }

    .abt-award img {
        max-width: 120px;
    }

    .about-box {
        padding: 30px 0 40px;
    }
}



@media all and (max-width:480px) {
    /*hardik start*/



    /*hardik end*/

}

@media all and (max-width:400px) {


    /*hardik start*/


    .privacy-box li {
        padding: 0 20px;
    }

    .main-header__in {
        height: 65px;
    }


    .srchBtn {
        width: 20px;
        height: 20px;
    }

    .srchBtn img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .menu-icon span,
    .menu-icon span:before,
    .menu-icon span:after {
        height: 3px;
    }

    .menu-icon span:before {
        top: -9px;
    }

    .menu-icon span:after {
        top: 9px;
    }

    .menu-icon {
        width: 30px;
        height: 24px;
    }

    .srchBtn {
        vertical-align: text-top;
    }

    .mob-srchBtn {
        margin-right: 20px;
    }

    .mob-menu-box {
        position: relative;
        top: -3px;
    }

    .banner-container__top h2 {
        font-size: 26px;
    }

    .banner-container__main p {
        font-size: 18px;
    }

    .sp-txt {
        font-size: 20px;
    }

    .sp-box {
        margin-top: 30px;
    }

    .sp-box__in {
        margin: 0 auto 20px;
    }



    .evidence-links ul li a {
        font-size: 18px;
    }

    .evidence-links {
        padding: 5px 20px;
    }

    .evidence-links ul {
        line-height: 1.2;
    }

    .guideline-links ul li {
        padding: 15px 45px;
        padding-right: 15px;
    }

    .guideline-links ul li a {
        font-size: 18px;
    }

    .guideline-links ul li a img {
        left: -32px;
        width: 20px;
    }

    .htCont__in p {
        font-size: 14px;
    }

    .htCont__in h2 {
        font-size: 18px;
    }

    .htBoxIn {
        padding: 20px;
    }

    .banner-container__top.search-banner h2 {
        font-size: 20px;
    }

    .search-container-up {
        margin: 30px 0;
    }

    .search-container li a.search-main-link {
        font-size: 20px;
    }

    .search-container li span,
    .search-container li a.search-sub-link {
        font-size: 14px;
    }

    .search-container li a.search-main-link,
    .search-container li span {
        margin-bottom: 5px;
    }

    .search-container {
        margin-bottom: 0;
    }
}



@media all and (max-width:375px) {
    .privacy-box li {
        padding: 0 20px;

    }


    /*hardik end*/




}